.group-child13 {
  top: 0;
  left: 0;
  background-color: #6cbdf3;
  border: 3px solid var(--c1-j);
  box-sizing: border-box;
  width: 23.13rem;
  height: 40.69rem;
}
.group-child13,
.group-child14,
.group-child15 {
  position: absolute;
  border-radius: var(--br-31xl);
}
.group-child14 {
  top: 36.19rem;
  left: 0;
  width: 23.13rem;
  height: 4.5rem;
}
.group-child15 {
  border: 0;
  background-color: var(--c1-j);
  top: 36.88rem;
  left: 1.06rem;
  width: 17.44rem;
  height: 3.13rem;
}
.group-child16 {
  position: absolute;
  right: 0.56rem;
  bottom: 0.19rem;
  width: 3.94rem;
  height: 3.94rem;
}
.polygon-button {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: var(--dark-light-text);
  position: absolute;
  top: 37.75rem;
  left: 21.25rem;
  border-radius: 1.33px;
  width: 1.42rem;
  height: 1.06rem;
  transform: rotate(90deg);
  transform-origin: 0 0;
}
.tell-us-something {
  position: absolute;
  top: 37.81rem;
  left: 1.94rem;
  font-size: var(--font-size-xl);
  line-height: 1.25rem;
  display: inline-block;
  font-family: var(--other-15-18-2-b);
  color: #454545;
  text-align: left;
  width: 15.75rem;
  height: 2.19rem;
}
.group-child17 {
  position: absolute;
  top: -0.69rem;
  left: -1rem;
  width: 20.13rem;
  height: 11.75rem;
}
.nice-to-meet,
.welcome-to-our {
  position: absolute;
  left: 0;
  display: inline-block;
  font-family: var(--other-15-18-2-b);
  text-align: left;
}
.nice-to-meet {
  top: 1.69rem;
  font-size: var(--body-default-size);
  line-height: 1.38rem;
  color: var(--neutral-600);
  width: 13.5rem;
}
.welcome-to-our {
  top: 0;
  font-size: var(--button-default-size);
  line-height: 1.13rem;
  color: var(--neutral-800);
  width: 11.53rem;
}
.nice-to-meet-you-if-you-have-parent,
.vector-parent {
  position: absolute;
  top: 2.16rem;
  left: 2.32rem;
  width: 13.5rem;
  height: 5.81rem;
}
.vector-parent {
  top: 7.63rem;
  left: 3.75rem;
  width: 18.13rem;
  height: 9.75rem;
}
.mask-group-icon1 {
  position: absolute;
  height: 9.22%;
  width: 16.22%;
  top: 33.53%;
  right: 83.78%;
  bottom: 57.26%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.rectangle-parent11 {
  position: absolute;
  top: 0;
  left: 0;
  width: 23.13rem;
  height: 40.69rem;
}
.chat-child {
  position: absolute;
  right: 0.21rem;
  bottom: 0.06rem;
  width: 3.75rem;
  height: 3.94rem;
}
.chat,
.chat1 {
  width: 23.13rem;
  height: 40.69rem;
}
.chat1 {
  position: absolute;
  top: -34rem;
  left: 2.81rem;
  box-shadow: 7px 4px 21px rgba(24, 160, 251, 0.4);
}
.chat {
  position: relative;
  max-width: 90%;
  max-height: 90%;
  overflow: auto;
}
