.email7,
.log-in10 {
  position: relative;
  font-size: var(--font-size-29xl);
  font-family: var(--font-itim);
  color: var(--c1-j);
  text-align: left;
}
.email7 {
  font-size: var(--font-size-5xl);
}
.email-icon7 {
  position: relative;
  width: 1.56rem;
  height: 1.23rem;
  flex-shrink: 0;
  overflow: hidden;
}
.input-field-child13 {
  position: relative;
  border-right: 2px solid var(--c1-j);
  box-sizing: border-box;
  width: 0.13rem;
  height: 2.38rem;
  flex-shrink: 0;
}
.examplegmailcom7 {
  border: 0;
  font-family: var(--font-itim);
  font-size: var(--s4-default-size);
  background-color: transparent;
  position: relative;
  color: var(--c1-j);
  text-align: left;
}
.email-field8,
.input-field31 {
  align-self: stretch;
  display: flex;
}
.input-field31 {
  border-radius: var(--br-mini);
  background-color: var(--dark-background-paper);
  border: 4px solid var(--c1-j);
  flex-direction: row;
  padding: var(--padding-smi) var(--padding-186xl) var(--padding-smi)
    var(--padding-lg);
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-mini);
}
.email-field8 {
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: var(--gap-5xs);
}
.password-icon7 {
  width: 2.75rem;
  height: 2.75rem;
  overflow: hidden;
}
.input-field-child14,
.input11,
.password-icon7 {
  position: relative;
  flex-shrink: 0;
}
.input-field-child14 {
  border-right: 2px solid var(--c1-j);
  box-sizing: border-box;
  width: 0.13rem;
  height: 2.31rem;
}
.input11 {
  border: 0;
  font-family: var(--font-itim);
  font-size: var(--s4-default-size);
  background-color: transparent;
  color: var(--c1-j);
  text-align: left;
  display: inline-block;
  width: 5.75rem;
  height: 1.44rem;
}
.input-field32,
.password-field8 {
  align-self: stretch;
  display: flex;
  justify-content: flex-start;
}
.input-field32 {
  border-radius: var(--br-mini);
  background-color: var(--dark-background-paper);
  border: 4px solid var(--c1-j);
  box-sizing: border-box;
  height: 3.88rem;
  flex-shrink: 0;
  flex-direction: row;
  padding: var(--padding-smi) 20.19rem var(--padding-smi) var(--padding-lg);
  align-items: center;
  gap: var(--gap-mini);
}
.password-field8 {
  flex-direction: column;
  align-items: flex-start;
  gap: var(--gap-5xs);
}
.forget-password1 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  align-self: stretch;
  position: relative;
  font-size: var(--dark-typography-body-1-size);
  font-family: var(--font-itim);
  color: var(--color-darkturquoise);
  text-align: right;
  display: inline-block;
  height: 1.5rem;
  flex-shrink: 0;
}
.log-in-button7 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-4xs) 3.75rem;
  background-color: var(--actionable-item);
  border-radius: var(--br-mini);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.or-inner {
  position: relative;
  width: 6.38rem;
  height: 0.13rem;
  flex-shrink: 0;
}
.or2 {
  width: 19.81rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.google-icon1 {
  position: relative;
  width: 3rem;
  height: 3rem;
  flex-shrink: 0;
}
.google1 {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.social-icons1 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: relative;
  width: 3rem;
  height: 3rem;
  flex-shrink: 0;
}
.dont-have-an1 {
  color: var(--c1-j);
}
.sign1 {
  color: var(--color-darkturquoise);
}
.span1 {
  color: var(--color-steelblue-100);
}
.dont-have-an-container1 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: relative;
  font-size: var(--font-size-5xl);
  font-family: var(--font-itim);
  text-align: left;
  display: inline-block;
}
.log-in-mobile,
.sign-in1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.sign-in1 {
  width: 17.13rem;
  height: 35.44rem;
  flex-shrink: 0;
  gap: var(--gap-lg);
}
.log-in-mobile {
  position: relative;
  border-radius: var(--br-xl);
  background: linear-gradient(70.98deg, #30cfd0, #325690 75.83%, #221fa3);
  width: 23.13rem;
  height: 50rem;
  padding: 0 var(--padding-xl);
  box-sizing: border-box;
  max-width: 90%;
  max-height: 90%;
  overflow: auto;
}
