.email3,
.log-in5 {
  position: relative;
  font-size: var(--font-size-29xl);
  font-family: var(--font-itim);
  color: var(--c1-j);
  text-align: left;
}
.email3 {
  font-size: var(--font-size-5xl);
}
.email-icon3 {
  position: relative;
  width: 2.38rem;
  height: 1.88rem;
  flex-shrink: 0;
  overflow: hidden;
}
.input-field-child4 {
  position: relative;
  border-right: 2px solid var(--c1-j);
  box-sizing: border-box;
  width: 0.13rem;
  height: 2.38rem;
  flex-shrink: 0;
}
.examplegmailcom3 {
  border: 0;
  font-family: var(--font-itim);
  font-size: var(--font-size-5xl);
  background-color: transparent;
  flex: 1;
  position: relative;
  color: var(--c1-j);
  text-align: left;
}
.email-field3,
.input-field13 {
  align-self: stretch;
  display: flex;
}
.input-field13 {
  border-radius: var(--br-mini);
  background-color: var(--dark-background-paper);
  border: 4px solid var(--c1-j);
  flex-direction: row;
  padding: var(--padding-smi) var(--padding-lg);
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-mini);
}
.email-field3 {
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: var(--gap-5xs);
}
.password-icon3 {
  position: relative;
  width: 2.75rem;
  height: 2.75rem;
  flex-shrink: 0;
  overflow: hidden;
}
.input3 {
  border: 0;
  font-family: var(--font-itim);
  font-size: var(--font-size-5xl);
  background-color: transparent;
  flex: 1;
  position: relative;
  color: var(--c1-j);
  text-align: left;
  display: inline-block;
  height: 1.44rem;
}
.password-field4 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.forget-password,
.log-in6 {
  position: relative;
  font-family: var(--font-itim);
}
.forget-password {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  align-self: stretch;
  font-size: var(--font-size-xl);
  color: var(--color-darkturquoise);
  text-align: right;
  display: inline-block;
  height: 1.5rem;
  flex-shrink: 0;
}
.log-in6 {
  font-size: 1.96rem;
  color: var(--c1-j);
  text-align: left;
}
.log-in-button3 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-mini) var(--padding-81xl);
  background-color: var(--actionable-item);
  border-radius: var(--br-mini);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.or-child {
  top: 0.88rem;
  left: -0.06rem;
  width: 10.38rem;
  height: 0.13rem;
}
.or-child,
.or-item,
.or1 {
  position: absolute;
}
.or1 {
  top: 0;
  left: 11.06rem;
  font-size: var(--font-size-5xl);
  font-family: var(--font-itim);
  color: var(--c1-j);
  text-align: left;
}
.or-item {
  top: 0.88rem;
  left: 13.5rem;
  width: 10.38rem;
  height: 0.13rem;
}
.google-icon,
.or {
  position: relative;
  width: 23.81rem;
  height: 1.81rem;
  flex-shrink: 0;
}
.google-icon {
  width: 3rem;
  height: 3rem;
}
.google {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.social-icons {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: relative;
  width: 3rem;
  height: 3rem;
  flex-shrink: 0;
}
.dont-have-an {
  color: var(--c1-j);
}
.sign {
  color: var(--color-darkturquoise);
}
.span {
  color: var(--color-steelblue-100);
}
.dont-have-an-container {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: relative;
  font-size: var(--font-size-5xl);
  font-family: var(--font-itim);
  text-align: left;
  display: inline-block;
}
.log-in4,
.sign-in {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.sign-in {
  align-self: stretch;
  gap: var(--gap-9xl);
}
.log-in4 {
  position: relative;
  border-radius: var(--br-xl);
  background: linear-gradient(70.98deg, #30cfd0, #325690 75.83%, #221fa3);
  width: 62.5rem;
  height: 50rem;
  padding: 0 var(--padding-231xl);
  box-sizing: border-box;
  max-width: 90%;
  max-height: 90%;
  overflow: auto;
}
@media screen and (max-width: 1200px) {
  .sign-in {
    align-self: stretch;
    width: auto;
    flex: 1;
  }
}
