.log-in9,
.register-now10 {
  position: relative;
  font-size: var(--s1-default-size);
  font-family: var(--font-itim);
  color: var(--c1-j);
  text-align: left;
}
.log-in9 {
  font-size: var(--dark-typography-body-1-size);
  letter-spacing: -0.01em;
  color: var(--actionable-item);
  text-align: center;
}
.button32 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-7xs) var(--padding-2xl);
  background-color: var(--c1-j);
  border-radius: var(--br-7xs);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.register11 {
  position: relative;
  font-size: var(--dark-typography-body-1-size);
  letter-spacing: -0.01em;
  font-family: var(--font-itim);
  color: var(--c1-j);
  text-align: center;
}
.registration-option5,
.solid-button11 {
  display: flex;
  align-items: center;
  justify-content: center;
}
.solid-button11 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-7xs) var(--padding-2xl);
  background-color: var(--actionable-item);
  border-radius: var(--br-7xs);
  flex-direction: column;
}
.registration-option5 {
  flex-direction: row;
  gap: var(--gap-smi);
}
.full-name5,
.input-field26 {
  font-family: var(--font-itim);
  font-size: var(--font-size-5xl);
}
.full-name5 {
  position: relative;
  color: var(--c1-j);
  text-align: left;
}
.input-field26 {
  border: 4px solid var(--c1-j);
  background-color: var(--dark-background-paper);
  border-radius: var(--br-mini);
  flex-direction: row;
  padding: var(--padding-smi) 0 var(--padding-smi) var(--padding-lg);
  align-items: center;
  justify-content: flex-start;
}
.input-field26,
.input-field27,
.name-field5 {
  align-self: stretch;
  display: flex;
}
.name-field5 {
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: var(--gap-5xs);
}
.input-field27 {
  border: 4px solid var(--c1-j);
  font-family: var(--font-itim);
  font-size: var(--font-size-5xl);
  background-color: var(--dark-background-paper);
  border-radius: var(--br-mini);
  flex-direction: row;
  padding: var(--padding-smi) var(--padding-186xl) var(--padding-smi)
    var(--padding-lg);
  align-items: center;
  justify-content: flex-start;
}
.age-field5 {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: var(--gap-5xs);
}
.input8 {
  border: 0;
  font-family: var(--font-itim);
  font-size: var(--font-size-5xl);
  background-color: transparent;
  position: relative;
  color: var(--c1-j);
  text-align: left;
}
.input-height-field4 {
  border-radius: var(--br-mini);
  background-color: var(--dark-background-paper);
  border: 4px solid var(--c1-j);
  box-sizing: border-box;
  width: 7rem;
  display: flex;
  flex-direction: row;
  padding: var(--padding-smi) var(--padding-lg);
  align-items: center;
  justify-content: space-between;
}
.details-feild5,
.input-field28 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.input-field28 {
  border-radius: var(--br-mini);
  background-color: var(--dark-background-paper);
  border: 4px solid var(--c1-j);
  padding: var(--padding-smi) var(--padding-lg);
  justify-content: space-between;
}
.details-feild5 {
  justify-content: center;
  gap: var(--gap-10xl);
}
.email-icon6 {
  position: relative;
  width: 2.38rem;
  height: 1.88rem;
  flex-shrink: 0;
  overflow: hidden;
}
.input-field-child11 {
  position: relative;
  border-right: 2px solid var(--c1-j);
  box-sizing: border-box;
  width: 0.13rem;
  height: 2.38rem;
  flex-shrink: 0;
}
.input-field29 {
  align-self: stretch;
  border-radius: var(--br-mini);
  background-color: var(--dark-background-paper);
  border: 4px solid var(--c1-j);
  display: flex;
  flex-direction: row;
  padding: var(--padding-smi) 0 var(--padding-smi) var(--padding-lg);
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-mini);
}
.input10,
.password-icon6 {
  position: relative;
  flex-shrink: 0;
}
.password-icon6 {
  width: 2.75rem;
  height: 2.75rem;
  overflow: hidden;
}
.input10 {
  border: 0;
  font-family: var(--font-itim);
  font-size: var(--font-size-5xl);
  background-color: transparent;
  color: var(--c1-j);
  text-align: left;
  display: inline-block;
  width: 5.75rem;
  height: 1.44rem;
}
.password-field7 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.register-now11 {
  position: relative;
  font-size: 1.96rem;
  font-family: var(--font-itim);
  color: var(--c1-j);
  text-align: left;
}
.log-in-button6,
.register-member8,
.register-member9 {
  display: flex;
  align-items: center;
  justify-content: center;
}
.log-in-button6 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-sm) var(--padding-28xl);
  background-color: var(--actionable-item);
  border-radius: var(--br-mini);
  flex-direction: row;
}
.register-member8,
.register-member9 {
  flex-direction: column;
}
.register-member9 {
  align-self: stretch;
  gap: var(--gap-9xl);
}
.register-member8 {
  position: relative;
  border-radius: var(--br-xl);
  background: linear-gradient(70.98deg, #30cfd0, #325690 75.83%, #330867);
  width: 100%;
  height: 50rem;
  padding: 0 1.75rem;
  box-sizing: border-box;
}
