.register-now8,
.register9 {
  position: relative;
  font-size: var(--s1-default-size);
  font-family: var(--font-itim);
  color: var(--c1-j);
  text-align: left;
}
.register9 {
  font-size: var(--dark-typography-body-1-size);
  letter-spacing: -0.01em;
  text-align: center;
}
.solid-button9 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-7xs) var(--padding-2xl);
  background-color: var(--actionable-item);
  border-radius: var(--br-7xs);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.log-in8 {
  position: relative;
  font-size: var(--dark-typography-body-1-size);
  letter-spacing: -0.01em;
  font-family: var(--font-itim);
  color: var(--actionable-item);
  text-align: center;
}
.button31,
.registration-option4 {
  display: flex;
  align-items: center;
  justify-content: center;
}
.button31 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-7xs) var(--padding-2xl);
  background-color: var(--c1-j);
  border-radius: var(--br-7xs);
  flex-direction: column;
}
.registration-option4 {
  flex-direction: row;
  gap: var(--gap-smi);
}
.full-name4,
.input-field20 {
  font-family: var(--font-itim);
  font-size: var(--font-size-5xl);
}
.full-name4 {
  position: relative;
  color: var(--c1-j);
  text-align: left;
}
.input-field20 {
  border: 4px solid var(--c1-j);
  background-color: var(--dark-background-paper);
  border-radius: var(--br-mini);
  flex-direction: row;
  padding: var(--padding-smi) 0 var(--padding-smi) var(--padding-lg);
  align-items: center;
  justify-content: flex-start;
}
.input-field20,
.input-field21,
.name-field4 {
  align-self: stretch;
  display: flex;
}
.name-field4 {
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: var(--gap-5xs);
}
.input-field21 {
  border: 4px solid var(--c1-j);
  font-family: var(--font-itim);
  font-size: var(--font-size-5xl);
  background-color: var(--dark-background-paper);
  border-radius: var(--br-mini);
  flex-direction: row;
  padding: var(--padding-smi) var(--padding-186xl) var(--padding-smi)
    var(--padding-lg);
  align-items: center;
  justify-content: flex-start;
}
.age-field4 {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: var(--gap-5xs);
}
.details-feild4,
.input-field22 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.input-field22 {
  border: 4px solid var(--c1-j);
  font-family: var(--font-itim);
  font-size: var(--font-size-5xl);
  background-color: var(--dark-background-paper);
  border-radius: var(--br-mini);
  padding: var(--padding-smi) var(--padding-lg);
  justify-content: flex-start;
}
.details-feild4 {
  justify-content: center;
  gap: var(--gap-10xl);
}
.icons39,
.input-field-child8 {
  position: relative;
  flex-shrink: 0;
}
.icons39 {
  width: 1.5rem;
  height: 1.5rem;
  overflow: hidden;
}
.input-field-child8 {
  border-right: 2px solid var(--c1-j);
  box-sizing: border-box;
  width: 0.13rem;
  height: 2.38rem;
}
.iit-delhi-hauz {
  border: 0;
  font-family: var(--font-itim);
  font-size: var(--font-size-5xl);
  background-color: transparent;
  position: relative;
  color: var(--c1-j);
  text-align: left;
}
.input-field23 {
  align-self: stretch;
  border-radius: var(--br-mini);
  background-color: var(--dark-background-paper);
  border: 4px solid var(--c1-j);
  display: flex;
  flex-direction: row;
  padding: var(--padding-smi) 0 var(--padding-smi) var(--padding-lg);
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-mini);
}
.email-icon5 {
  width: 2.38rem;
  height: 1.88rem;
  overflow: hidden;
}
.email-icon5,
.input7,
.password-icon5 {
  position: relative;
  flex-shrink: 0;
}
.password-icon5 {
  width: 2.75rem;
  height: 2.75rem;
  overflow: hidden;
}
.input7 {
  border: 0;
  font-family: var(--font-itim);
  font-size: var(--font-size-5xl);
  background-color: transparent;
  color: var(--c1-j);
  text-align: left;
  display: inline-block;
  width: 5.75rem;
  height: 1.44rem;
}
.password-field6 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.register-now9 {
  position: relative;
  font-size: 1.96rem;
  font-family: var(--font-itim);
  color: var(--c1-j);
  text-align: left;
}
.log-in-button5,
.register-member6,
.register-member7 {
  display: flex;
  align-items: center;
  justify-content: center;
}
.log-in-button5 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-sm) var(--padding-28xl);
  background-color: var(--actionable-item);
  border-radius: var(--br-mini);
  flex-direction: row;
}
.register-member6,
.register-member7 {
  flex-direction: column;
}
.register-member7 {
  align-self: stretch;
  gap: var(--gap-9xl);
}
.register-member6 {
  position: relative;
  border-radius: var(--br-xl);
  background: linear-gradient(70.98deg, #30cfd0, #325690 75.83%, #330867);
  width: 100%;
  padding: var(--padding-17xl) var(--padding-7xl);
  box-sizing: border-box;
}
