<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/global.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/check-out-page.css') }}" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Open Sans:wght@400&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;500;600;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=DM Sans:wght@400;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Itim:wght@400&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@400&display=swap"
    />
  </head>
  <body>
    <div class="check-out-page">
      <div class="navigation-a5">
        <div class="logo-wrapper3">
          <div class="logo8" id="logoContainer">
            <div class="logo-inner7">
              <div class="logo-zenfit-1-wrapper6">
                <img
                  class="logo-zenfit-18"
                  alt=""
                  src="{{ url_for('static', filename='public/logo-zenfit-1@2x.png') }}"
                />
              </div>
            </div>
          </div>
        </div>
        <div class="frame-parent32">
          <a href="/store" style="text-decoration: none;color: #18a0fb;"><div class="store-wrapper3" id="frameContainer3">
            <div class="store5">Store</div>
          </div></a>
          <a href="/AI" style="text-decoration: none;color: #18a0fb;"><div class="store-wrapper3" id="frameContainer3">
            <div class="store5">ZenAI</div>
          </div></a>
          <div class="about-wrapper3"><div class="store5">About</div></div>
          <button class="prozen-parent3">
            <div class="prozen5">ProZen</div>
            <img class="vector-icon15" alt="" src="{{ url_for('static', filename='public/vector10.svg') }}" />
          </button>
        </div>
        <div class="navigation-a-inner3">
          <div class="icons-parent2">
            <img
              class="icons16"
              alt=""
              src="{{ url_for('static', filename='public/icons2.svg') }}"
              id="icons"
            /><img
              class="icons17"
              alt=""
              src="{{ url_for('static', filename='public/icons3.svg') }}"
              id="icons1"
            />
          </div>
        </div>
      </div>
      <div class="cartcheckout-process">
        <div class="frame-parent33">
          <form class="frame-form" action="/checkout" method="post">
            <div class="frame-wrapper4">
              <div class="inputs-and-selects-parent">
                <div class="billing-info-parent">
                  <div class="billing-info">Billing info</div>
                  <div class="please-enter-your">
                    Please enter your billing info
                  </div>
                  <div class="step-1-of">Step 1 of 2</div>
                </div>
                <div class="frame-parent35">
                  <div class="inputs-and-selects-parent">
                    <div class="inputs-and-selects-wrapper">
                      <div class="first-name">First name</div>
                      <div class="rectangle-group">
                        <input class="rectangle-input" type="text" /><input
                          class="email-addess"
                          type="text"
                        />
                      </div>
                    </div>
                    <div class="inputs-and-selects-wrapper">
                      <div class="inputs-and-selects3">
                        <div class="first-name">Email address</div>
                        <div class="rectangle-group">
                          <input class="rectangle-input" type="text" /><input
                            class="email-addess"
                            type="text"
                          />
                        </div>
                      </div>
                    </div>
                    <div class="inputs-and-selects-wrapper">
                      <div class="first-name">Address</div>
                      <div class="rectangle-group">
                        <div class="group-child2"></div>
                        <input class="email-addess" type="text" />
                      </div>
                    </div>
                    <div class="inputs-and-selects5">
                      <div class="rectangle-parent2">
                        <input class="group-child3" type="text" /><input
                          class="choose-a-state"
                          type="text"
                        /><img
                          class="ic-chevron-top-bottom-icon"
                          alt=""
                          src="{{ url_for('static', filename='public/icchevrontopbottom.svg') }}"
                        />
                      </div>
                      <div class="first-name">State / Country</div>
                    </div>
                  </div>
                  <div class="inputs-and-selects-group">
                    <div class="inputs-and-selects-wrapper">
                      <div class="first-name">Last name</div>
                      <div class="rectangle-group">
                        <input class="rectangle-input" type="text" /><input
                          class="email-addess"
                          type="text"
                        />
                      </div>
                    </div>
                    <div class="inputs-and-selects-wrapper">
                      <div class="first-name">Phone number</div>
                      <div class="rectangle-group">
                        <input class="rectangle-input" type="text" /><input
                          class="email-addess"
                          type="text"
                        />
                      </div>
                    </div>
                    <div class="inputs-and-selects-wrapper">
                      <div class="first-name">Town / City</div>
                      <div class="rectangle-group">
                        <div class="group-child2"></div>
                        <input class="email-addess" type="text" />
                      </div>
                    </div>
                    <div class="inputs-and-selects-wrapper">
                      <div class="first-name">ZIP/Postal code</div>
                      <div class="rectangle-group">
                        <div class="group-child2"></div>
                        <input class="email-addess" type="text" />
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="frame-wrapper7">
              <div class="buttons-wrapper">
                <button class="buttons5">
                  <b class="complete-order">Complete order</b>
                </button>
              </div>
            </div>
          </form>
          <div class="cart">
            <div class="cart-inner">
              <div class="group-parent4">
                <div class="order-summary-wrapper">
                  <div class="order-summary">Order Summary</div>
                </div>
                <div class="component-84-parent">

                {% for product in products %}
                  <div class="component-84">
                    <div class="frame-parent38">
                      <div class="basics-wrapper">
                        <div class="basics9">
                          <img
                            class="basics-child6"
                            alt=""
                            src="{{ url_for('static', filename='public/rectangle-261@2x.png') }}"
                          />
                        </div>
                      </div>
                      <div class="content-button">
                        <div class="content-button-inner">
                          <div class="frame-wrapper8">
                            <div class="frame-parent39">
                              <div class="product-title-parent">
                                <div class="product-title">{{ product.product_name }}</div>
                              </div>
                              <div class="ic-actions-star-group">
                                {% for i in range(product.rating) %}
                                <img
                                  class="ic-actions-star-icon4"
                                  alt=""
                                  src="{{ url_for('static', filename='public/icactionsstar2.svg') }}"
                                />
                                {% endfor %}
                                {% for j in range(5-product.rating) %}
                                <img
                                  class="ic-actions-star-icon4"
                                  alt=""
                                  src="{{ url_for('static', filename='public/icactionsstar5.svg') }}"
                                />
                                {% endfor %}
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="price-button">
                          <div class="price-button-child"></div>
                          <div class="price-discount-price">
                            <div class="usd2">{{ product.product_price }} USD</div>
                          </div>
                          <div class="inputs-and-selects14">
                            <div class="pcs1">{{ product.quantity }} pcs</div>
                            <div class="inputs-and-selects-item"></div>
                            <div class="pcs-group">
                              <img
                                class="ic-chevron-down-icon13"
                                alt=""
                                src="{{ url_for('static', filename='public/icchevrondown2.svg') }}"
                              />
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="component-84-child"></div>
                  </div>
                  {% endfor %}
                </div>
                <div class="frame-wrapper11">
                </div>
                <div class="frame-parent43">
                  <div class="total-order-wrapper">
                    <div class="total-order">Total Order</div>
                  </div>
                  <div class="usd9">{{ net }} USD</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="footer-a3">
        <div class="logo-parent2">
          <div class="logo9">
            <div class="logo-inner7">
              <div class="logo-zenfit-1-wrapper6">
                <img
                  class="logo-zenfit-18"
                  alt=""
                  src="{{ url_for('static', filename='public/logo-zenfit-12@2x.png') }}"
                />
              </div>
            </div>
          </div>
          <div class="frame-parent44">
            <div class="mobile-app-parent1">
              <b class="mobile-app3">Mobile app</b>
              <div class="features-live-share-container3">
                <p class="features3">Features</p>
                <p class="features3">Live share</p>
                <p class="features3">Video record</p>
              </div>
            </div>
            <div class="mobile-app-parent1">
              <b class="mobile-app3">Community</b>
              <div class="features-live-share-container3">
                <p class="features3">Featured artists</p>
                <p class="features3">The Portal</p>
                <p class="features3">Live events</p>
              </div>
            </div>
            <div class="mobile-app-parent1">
              <b class="mobile-app3">Company</b>
              <div class="features-live-share-container3">
                <p class="features3">About us</p>
                <p class="features3">Contact us</p>
                <p class="features3">History</p>
              </div>
            </div>
          </div>
        </div>
        <div class="footer-a-child1"></div>
        <div class="photo-inc-2019-we-love-our-parent1">
          <div class="photo-inc-20193">
            © ZenFit, Inc. 2023 made by DevLoopers
          </div>
          <div class="follow-us-parent1">
            <div class="follow-us3">Follow us:</div>
            <img
              class="ellipse-icon12"
              alt=""
              src="{{ url_for('static', filename='public/ellipse1.svg') }}"
            /><img
              class="ellipse-icon12"
              alt=""
              src="{{ url_for('static', filename='public/ellipse1.svg') }}"
            /><img
              class="ellipse-icon12"
              alt=""
              src="{{ url_for('static', filename='public/ellipse1.svg') }}"
            /><img class="ellipse-icon12" alt="" src="{{ url_for('static', filename='public/ellipse1.svg') }}" />
          </div>
        </div>
      </div>
    </div>

    <div id="cartContainer" class="popup-overlay" style="display: none">
      <div class="cart1">
        <div class="modalsshoping-cart">
          <div class="group-parent6">
            <div class="shopping-cart-parent">
              <div class="shopping-cart">Shopping cart</div>
              <button class="close-parent">
                <div class="close">Close</div>
                <img
                  class="ic-actions-close-simple-icon"
                  alt=""
                  src="{{ url_for('static', filename='public/icactionsclosesimple.svg') }}"
                />
              </button>
            </div>
            <article class="component-84-group">
              <article class="component-841">
                <div class="frame-parent45">
                  <div class="basics-wrapper1">
                    <div class="basics11">
                      <img
                        class="basics-child8"
                        alt=""
                        src="{{ url_for('static', filename='public/rectangle-261@2x.png') }}"
                      />
                    </div>
                  </div>
                  <div class="content-button2">
                    <div class="content-button-inner1">
                      <div class="frame-wrapper12">
                        <div class="frame-parent46">
                          <div class="product-title-container">
                            <div class="product-title2">Product title</div>
                            <div class="frame-parent47">
                              <div class="brand-container">
                                <div class="brand2">Brand</div>
                                <div class="nike6">Nike</div>
                              </div>
                              <div class="size-container">
                                <div class="brand2">Size</div>
                                <div class="div59">9</div>
                              </div>
                            </div>
                          </div>
                          <div class="ic-actions-star-parent1">
                            <img
                              class="ic-actions-star-icon14"
                              alt=""
                              src="{{ url_for('static', filename='public/icactionsstar2.svg') }}"
                            /><img
                              class="ic-actions-star-icon14"
                              alt=""
                              src="{{ url_for('static', filename='public/icactionsstar2.svg') }}"
                            /><img
                              class="ic-actions-star-icon14"
                              alt=""
                              src="{{ url_for('static', filename='public/icactionsstar2.svg') }}"
                            /><img
                              class="ic-actions-star-icon14"
                              alt=""
                              src="{{ url_for('static', filename='public/icactionsstar2.svg') }}"
                            /><img
                              class="ic-actions-star-icon14"
                              alt=""
                              src="{{ url_for('static', filename='public/icactionsstar11.svg') }}"
                            />
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="price-button2">
                      <div class="price-button-inner"></div>
                      <div class="price-discount-price2">
                        <div class="usd10">36.99 USD</div>
                        <div class="usd11">48.56 USD</div>
                      </div>
                      <div class="inputs-and-selects16">
                        <div class="pcs5">1 pcs</div>
                        <div class="line-div"></div>
                        <div class="pcs-parent1">
                          <div class="pcs6">Pcs</div>
                          <img
                            class="ic-chevron-down-icon15"
                            alt=""
                            src="{{ url_for('static', filename='public/icchevrondown.svg') }}"
                          />
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="component-84-item"></div>
              </article>
              <article class="component-841">
                <div class="frame-parent45">
                  <div class="basics-wrapper1">
                    <div class="basics11">
                      <img
                        class="basics-child8"
                        alt=""
                        src="{{ url_for('static', filename='public/rectangle-261@2x.png') }}"
                      />
                    </div>
                  </div>
                  <div class="content-button2">
                    <div class="content-button-inner1">
                      <div class="frame-wrapper12">
                        <div class="frame-parent46">
                          <div class="product-title-container">
                            <div class="product-title2">Product title</div>
                            <div class="frame-parent47">
                              <div class="brand-container">
                                <div class="brand2">Brand</div>
                                <div class="nike6">Nike</div>
                              </div>
                              <div class="size-container">
                                <div class="brand2">Size</div>
                                <div class="div59">9</div>
                              </div>
                            </div>
                          </div>
                          <div class="ic-actions-star-parent1">
                            <img
                              class="ic-actions-star-icon14"
                              alt=""
                              src="{{ url_for('static', filename='public/icactionsstar3.svg') }}"
                            /><img
                              class="ic-actions-star-icon14"
                              alt=""
                              src="{{ url_for('static', filename='public/icactionsstar3.svg') }}"
                            /><img
                              class="ic-actions-star-icon14"
                              alt=""
                              src="{{ url_for('static', filename='public/icactionsstar3.svg') }}"
                            /><img
                              class="ic-actions-star-icon14"
                              alt=""
                              src="{{ url_for('static', filename='public/icactionsstar3.svg') }}"
                            /><img
                              class="ic-actions-star-icon14"
                              alt=""
                              src="{{ url_for('static', filename='public/icactionsstar31.svg') }}"
                            />
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="price-button2">
                      <div class="price-button-inner"></div>
                      <div class="price-discount-price2">
                        <div class="usd10">36.99 USD</div>
                        <div class="usd11">48.56 USD</div>
                      </div>
                      <div class="inputs-and-selects16">
                        <div class="pcs5">1 pcs</div>
                        <div class="line-div"></div>
                        <div class="pcs-parent1">
                          <div class="pcs6">Pcs</div>
                          <img
                            class="ic-chevron-down-icon15"
                            alt=""
                            src="{{ url_for('static', filename='public/icchevrondown1.svg') }}"
                          />
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="component-84-item"></div>
              </article>
            </article>
          </div>
          <div class="group-parent7">
            <div class="buttons-group">
              <button class="buttons6" id="popupbuttons">
                <img
                  class="ic-chevron-left-icon"
                  alt=""
                  src="{{ url_for('static', filename='public/icchevronleft.svg') }}"
                /><b class="button10">Continue shopping</b></button
              ><button class="buttons7" id="popupbuttons1">
                <b class="go-to-checkout">Go to Checkout</b>
              </button>
            </div>
            <div class="subtotal-group">
              <div class="subtotal1">Subtotal</div>
              <div class="usd14">73.98 USD</div>
            </div>
            <div class="group-child12"></div>
          </div>
        </div>
      </div>
    </div>

    <script>
      
      var popupbuttons1 = document.getElementById("popupbuttons1");
      if (popupbuttons1) {
        popupbuttons1.addEventListener("click", function (e) {
          window.location.href = "check-out-page.html";
        });
      }
      
      var logoContainer = document.getElementById("logoContainer");
      if (logoContainer) {
        logoContainer.addEventListener("click", function (e) {
          window.location.href = "/";
        });
      }
      

      
      var icons = document.getElementById("icons");
      if (icons) {
        icons.addEventListener("click", function (e) {
          window.location.href = "./profile-page.html";
        });
      }
      
      var icons1 = document.getElementById("icons1");
      if (icons1) {
        icons1.addEventListener("click", function () {
          var popup = document.getElementById("cartContainer");
          if (!popup) return;
          var popupStyle = popup.style;
          if (popupStyle) {
            popupStyle.display = "flex";
            popupStyle.zIndex = 100;
            popupStyle.backgroundColor = "rgba(113, 113, 113, 0.3)";
            popupStyle.alignItems = "center";
            popupStyle.justifyContent = "center";
          }
          popup.setAttribute("closable", "");
      
          var onClick =
            popup.onClick ||
            function (e) {
              if (e.target === popup && popup.hasAttribute("closable")) {
                popupStyle.display = "none";
              }
            };
          popup.addEventListener("click", onClick);
        });
      }
      </script>
  </body>
</html>
