@keyframes slide-in-right {
  0% {
    transform: translateX(200px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
.logo-zenfit-18 {
  align-self: stretch;
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.logo-inner7,
.logo-zenfit-1-wrapper6 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.logo-zenfit-1-wrapper6 {
  align-self: stretch;
  flex: 1;
}
.logo-inner7 {
  position: absolute;
  top: -1.25rem;
  left: -1.25rem;
  width: 17.81rem;
  height: 6.69rem;
}
.logo8 {
  position: relative;
  width: 16.56rem;
  height: 5.44rem;
  flex-shrink: 0;
  cursor: pointer;
}
.frame-a {
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.store4 {
  position: relative;
  letter-spacing: -0.01em;
  font-weight: 500;
}
.store-wrapper2 {
  text-decoration: none;
  cursor: pointer;
  color: inherit;
}
.about-wrapper2,
.store-wrapper2 {
  border-radius: var(--br-4xs);
  display: flex;
  flex-direction: row;
  padding: var(--padding-3xs);
  align-items: flex-start;
  justify-content: flex-start;
}
.prozen4 {
  position: relative;
  font-size: var(--dark-typography-h6-size);
  letter-spacing: -0.01em;
  font-weight: 500;
  font-family: var(--font-montserrat);
  color: var(--white);
  text-align: center;
}
.vector-icon16 {
  position: relative;
  width: 0.88rem;
  height: 0.5rem;
  flex-shrink: 0;
}
.frame-button,
.frame-parent48 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.frame-button {
  cursor: pointer;
  border: 0;
  padding: var(--padding-3xs) var(--padding-lg);
  background-color: var(--actionable-item);
  border-radius: var(--br-xs);
  gap: var(--gap-3xs);
}
.frame-parent48 {
  gap: var(--gap-smi);
}
.vector-icon17,
.vector-icon18 {
  position: absolute;
  height: 29.87%;
  width: 71.54%;
  top: 60.06%;
  right: 14.23%;
  bottom: 10.06%;
  left: 14.23%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vector-icon18 {
  height: 38.21%;
  width: 38.21%;
  top: 10.06%;
  right: 30.9%;
  bottom: 51.73%;
  left: 30.9%;
}
.icons10 {
  text-decoration: none;
  position: relative;
  border-radius: var(--br-base);
  background-color: var(--white);
  width: 2.56rem;
  height: 2.56rem;
  flex-shrink: 0;
  overflow: hidden;
  cursor: pointer;
}
.frame-icon {
  position: absolute;
  top: 0.56rem;
  left: 0.63rem;
  width: 1.3rem;
  height: 1.41rem;
}
.icons11 {
  cursor: pointer;
  border: 1px solid var(--white);
  padding: 0;
  background-color: var(--white);
  position: relative;
  border-radius: var(--br-base);
  box-sizing: border-box;
  width: 2.56rem;
  height: 2.56rem;
  flex-shrink: 0;
  overflow: hidden;
}
.icons-parent1 {
  width: 7.56rem;
  height: 2rem;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-33xl);
}
.navigation-a-inner2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.navigation-a4 {
  align-self: stretch;
  background-color: var(--color-darkslategray-100);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  padding: var(--padding-6xl) var(--padding-56xl);
  align-items: center;
  justify-content: space-between;
  text-align: center;
  font-size: var(--dark-typography-h6-size);
  color: var(--actionable-item);
  font-family: var(--font-montserrat);
}
.homepage2 {
  text-decoration: none;
  position: relative;
  color: inherit;
}
.community5,
.div41 {
  position: relative;
  color: var(--c1-d);
}
.community5 {
  text-decoration: none;
  color: var(--actionable-item);
}
.homepage-container {
  height: 0.94rem;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.search-child1 {
  position: absolute;
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
  border-radius: var(--br-xs);
  background-color: var(--dark-background-paper1);
  border: 1px solid var(--white);
  box-sizing: border-box;
  height: 2.63rem;
}
.all-categories2 {
  position: absolute;
  top: 0;
  left: 0;
  font-size: var(--button-default-size);
  font-family: var(--s2-default);
  color: var(--white);
  text-align: left;
}
.ic-chevron-down-icon5 {
  position: absolute;
  top: 0.25rem;
  left: 7.13rem;
  width: 1rem;
  height: 1rem;
  overflow: hidden;
}
.all-categories-container,
.line-div {
  position: absolute;
  top: 0.63rem;
  left: 1rem;
  width: 8.13rem;
  height: 1.44rem;
}
.line-div {
  top: 0.66rem;
  left: 10.59rem;
  border-right: 1px solid var(--white);
  box-sizing: border-box;
  width: 0.06rem;
  height: 1.31rem;
}
.search-products-categories2 {
  border: 0;
  font-family: var(--body-default);
  font-size: var(--body-default-size);
  background-color: transparent;
  position: absolute;
  width: calc(100% - 238px);
  top: 0.69rem;
  left: 12.13rem;
  color: var(--white);
  text-align: left;
  display: inline-block;
}
.ic-actions-search-icon2 {
  position: absolute;
  top: 0.81rem;
  right: 1rem;
  width: 1rem;
  height: 1rem;
  overflow: hidden;
}
.search2 {
  position: relative;
  width: 31.25rem;
  height: 2.63rem;
  flex-shrink: 0;
  overflow: hidden;
}
.navigationsbreadcrumbs2,
.navigationsheading-layout1 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.navigationsbreadcrumbs2 {
  background-color: var(--color-gray-700);
  padding: var(--padding-base) var(--padding-26xl);
  justify-content: space-between;
  font-family: var(--body-default);
}
.navigationsheading-layout1 {
  padding: var(--padding-5xs) var(--padding-3xs);
  justify-content: center;
  font-size: var(--s1-default-size);
}
.basics-child9 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-xs);
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
  display: none;
}
.basics13,
.blogpostlarge-child {
  position: absolute;
  width: calc(100% + 0.33px);
  right: -0.02rem;
  bottom: 0;
  left: 0;
}
.basics13 {
  height: 100%;
  top: 0;
}
.blogpostlarge-child {
  max-width: 100%;
  overflow: hidden;
  height: 12.88rem;
}
.this-is-a {
  position: relative;
  font-weight: 600;
  display: inline-block;
  width: 23.75rem;
}
.avatars-icon1 {
  width: 2rem;
  height: 2rem;
  flex-shrink: 0;
}
.author7,
.avatars-icon1 {
  position: relative;
}
.avatars-group,
.frame-parent49 {
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.frame-parent49 {
  position: absolute;
  top: 0;
  left: 0;
  gap: var(--gap-base);
}
.frame-wrapper9 {
  position: relative;
  width: 9.75rem;
  height: 2rem;
  flex-shrink: 0;
  font-size: var(--s6-default-size);
  font-family: var(--body-default);
}
.this-is-a-space-for-your-blog-parent {
  position: absolute;
  width: calc(100% - 47.67px);
  right: 1.48rem;
  bottom: 1.5rem;
  left: 1.5rem;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.tag {
  position: relative;
  font-weight: 600;
}
.tags11 {
  position: absolute;
  top: 1.5rem;
  left: 1.5rem;
  border-radius: var(--br-xs);
  background-color: var(--c2-e);
  display: flex;
  flex-direction: row;
  padding: 0 var(--padding-5xs);
  align-items: center;
  justify-content: flex-start;
  font-size: var(--s6-default-size);
  color: var(--c2-a);
}
.blogpostlarge,
.blogpostlarge1,
.blogpostlarge2 {
  text-decoration: none;
  flex: 1;
  position: relative;
  border-radius: var(--br-sm);
  height: 25rem;
  background-image: url(./public/blogpostlarge@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  color: inherit;
}
.blogpostlarge1,
.blogpostlarge2 {
  background-image: url(./public/blogpostlarge1@3x.png);
}
.blogpostlarge2 {
  background-image: url(./public/blogpostlarge2@3x.png);
}
.blogfeatured-posts,
.blogpostlarge-parent {
  align-self: stretch;
  overflow: hidden;
  display: flex;
  justify-content: flex-start;
}
.blogpostlarge-parent {
  flex-direction: row;
  align-items: flex-start;
  gap: var(--gap-13xl);
}
.blogfeatured-posts {
  flex-direction: column;
  padding: var(--padding-29xl) var(--padding-26xl);
  align-items: center;
  font-size: var(--s3-default-size);
}
.basics-child12 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-xs);
  background-color: var(--c1-f);
}
.basics16 {
  position: relative;
  width: 16.81rem;
  height: 11.25rem;
  flex-shrink: 0;
}
.tags14 {
  border-radius: var(--br-xs);
  background-color: var(--c2-e);
  display: flex;
  flex-direction: row;
  padding: 0 var(--padding-5xs);
  align-items: center;
  justify-content: flex-start;
}
.space-for-your2 {
  position: relative;
  font-weight: 600;
  display: inline-block;
  width: 16.69rem;
}
.author-parent4 {
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-base);
  font-size: var(--s6-default-size);
  font-family: var(--body-default);
}
.space-for-your-heding-is-here-parent {
  overflow: hidden;
  gap: var(--gap-base);
  font-size: var(--s4-default-size);
  color: var(--white);
}
.blogpostmedium,
.blogpostmedium3,
.space-for-your-heding-is-here-parent,
.tags-parent3 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.tags-parent3 {
  overflow: hidden;
  gap: var(--gap-5xs);
}
.blogpostmedium,
.blogpostmedium3 {
  text-decoration: none;
  gap: var(--gap-5xl);
  color: inherit;
}
.bloglist-widgets,
.blogpostmedium-parent {
  align-self: stretch;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
}
.bloglist-widgets {
  flex-direction: column;
  padding: var(--padding-29xl) var(--padding-26xl);
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-13xl);
  color: var(--c2-a);
}
.div59 {
  position: relative;
  color: var(--actionable-item);
}
.tags26 {
  border-radius: var(--br-xs);
  background-color: var(--white);
  display: flex;
  flex-direction: row;
  padding: 0 var(--padding-5xs);
  align-items: center;
  justify-content: flex-start;
}
.posts {
  position: relative;
  font-family: var(--body-default);
  color: var(--white);
}
.tags-parent15 {
  height: 1.13rem;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-end;
  gap: var(--gap-9xs);
  color: var(--actionable-item);
  font-family: var(--s2-default);
}
.frame-parent52,
.navigationspaginations1 {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.frame-parent52 {
  flex: 1;
  height: 3rem;
  overflow: hidden;
  padding: 0 0 var(--padding-12xs);
  box-sizing: border-box;
  justify-content: space-between;
}
.navigationspaginations1 {
  align-self: stretch;
  background-color: var(--color-snow);
  padding: var(--padding-base) var(--padding-81xl);
  justify-content: flex-end;
  font-family: var(--body-default);
}
.logo9,
.mobile-app4 {
  position: relative;
  width: 16.56rem;
  height: 5.44rem;
  flex-shrink: 0;
}
.mobile-app4 {
  letter-spacing: -0.01em;
  line-height: 1.5rem;
  display: inline-block;
  width: 10.81rem;
  height: 1.5rem;
}
.features4 {
  margin: 0;
}
.features-live-share-container4 {
  position: relative;
  letter-spacing: -0.01em;
  line-height: 1.5rem;
  color: var(--actionable-item);
  display: inline-block;
  width: 10.81rem;
  height: 4.5rem;
  flex-shrink: 0;
}
.mobile-app-parent2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: var(--gap-base);
}
.frame-parent53,
.logo-parent3 {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.frame-parent53 {
  width: 37.19rem;
  flex-shrink: 0;
  justify-content: center;
  gap: var(--gap-lgi);
}
.logo-parent3 {
  align-self: stretch;
  padding: var(--padding-17xl) 0;
  justify-content: space-between;
}
.footer-a-child2 {
  align-self: stretch;
  border: 2px solid var(--color-black);
  box-sizing: border-box;
  height: 0.06rem;
  flex-shrink: 0;
}
.photo-inc-20194 {
  letter-spacing: -0.01em;
  line-height: 1.5rem;
  display: inline-block;
  width: 18.81rem;
  height: 1.5rem;
}
.ellipse-icon16,
.follow-us4,
.photo-inc-20194 {
  position: relative;
  flex-shrink: 0;
}
.follow-us4 {
  letter-spacing: -0.01em;
  line-height: 1.5rem;
  display: inline-block;
  width: 18.75rem;
  height: 1.5rem;
}
.ellipse-icon16 {
  width: 2.75rem;
  height: 2.75rem;
}
.follow-us-parent2 {
  width: 18.88rem;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  gap: var(--gap-lgi);
  text-align: right;
}
.photo-inc-2019-we-love-our-parent2 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  padding: var(--padding-30xl) var(--padding-31xl);
  align-items: center;
  justify-content: space-between;
  color: var(--actionable-item);
}
.community-page,
.footer-a4 {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer-a4 {
  align-self: stretch;
  background-color: var(--color-darkslategray-100);
  overflow: hidden;
  padding: 0 var(--padding-51xl);
  justify-content: flex-end;
  gap: var(--gap-3xs);
  font-size: var(--button-default-size);
  font-family: var(--font-montserrat);
}
.community-page {
  position: relative;
  background-color: var(--color-gray-200);
  width: 100%;
  overflow-y: auto;
  padding: var(--padding-2xl) 0;
  box-sizing: border-box;
  justify-content: flex-start;
  gap: var(--gap-4xs);
  text-align: left;
  font-size: var(--s6-default-size);
  color: var(--white);
  font-family: var(--s2-default);
}
@media screen and (max-width: 1200px) {
  .blogpostmedium3 {
    display: none;
  }
}
.shopping-cart {
  position: absolute;
  top: 0;
  left: 0;
  font-weight: 600;
}
.close {
  position: relative;
  font-size: var(--s6-default-size);
  font-family: var(--body-default);
  color: var(--actionable-item);
  text-align: left;
}
.ic-actions-close-simple-icon {
  position: relative;
  width: 1.5rem;
  height: 1.5rem;
  flex-shrink: 0;
  overflow: hidden;
}
.close-parent {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 0.44rem;
  right: 0;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-9xs);
}
.shopping-cart-parent {
  position: relative;
  width: 23rem;
  height: 2.44rem;
  flex-shrink: 0;
}
.basics-child2,
.basics5 {
  border-radius: var(--br-xs);
}
.basics-child2 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.basics5 {
  position: relative;
  width: 6.25rem;
  height: 4.19rem;
  flex-shrink: 0;
  background-image: url(./public/rectangle-2611@2x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.basics-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.product-title {
  position: relative;
  font-weight: 500;
  display: inline-block;
  width: 15.69rem;
}
.brand {
  position: absolute;
  top: 0;
  left: 0;
}
.nike {
  right: 9.44rem;
  color: var(--white);
}
.brand-parent,
.div14,
.nike {
  position: absolute;
  top: 0;
}
.brand-parent {
  height: 45.24%;
  width: 100%;
  right: 0;
  bottom: 54.76%;
  left: 0;
  overflow: hidden;
}
.div14 {
  right: 10.63rem;
  color: var(--white);
}
.size-parent {
  position: absolute;
  height: 45.24%;
  width: 100%;
  top: 54.76%;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
}
.frame-parent11 {
  position: relative;
  width: 15.69rem;
  height: 2.63rem;
  flex-shrink: 0;
  font-size: var(--s6-default-size);
  color: var(--c1-c);
  font-family: var(--body-default);
}
.product-title-parent {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-9xs);
}
.ic-actions-star-icon {
  position: relative;
  width: 1rem;
  height: 1rem;
  flex-shrink: 0;
  overflow: hidden;
}
.ic-actions-star-parent {
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-11xs);
}
.frame-parent10 {
  align-items: flex-start;
  gap: var(--gap-5xs);
}
.content-button-inner,
.frame-parent10,
.frame-wrapper1 {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.frame-wrapper1 {
  align-self: stretch;
  align-items: center;
}
.content-button-inner {
  width: 15.69rem;
  align-items: flex-start;
}
.price-button-child {
  position: absolute;
  top: 0;
  left: 0;
  width: 12.75rem;
  height: 2.81rem;
  overflow: hidden;
}
.usd,
.usd1 {
  position: absolute;
  top: calc(50% - 22.5px);
  left: 0;
  font-weight: 600;
}
.usd1 {
  top: calc(50% + 4.5px);
  font-size: var(--s6-default-size);
  text-decoration: line-through;
  color: var(--c1-c);
}
.price-discount-price {
  position: absolute;
  top: calc(50% - 22.5px);
  left: 0;
  width: 5.69rem;
  height: 2.81rem;
}
.pcs {
  position: relative;
  -webkit-text-stroke: 1px #000;
}
.inputs-and-selects-child {
  position: relative;
  border-right: 1px solid var(--c1-d);
  box-sizing: border-box;
  width: 0.06rem;
  height: 1.31rem;
  flex-shrink: 0;
}
.pcs1 {
  position: relative;
  font-weight: 600;
}
.ic-chevron-down-icon {
  position: relative;
  width: 0.75rem;
  height: 0.75rem;
  flex-shrink: 0;
  overflow: hidden;
}
.inputs-and-selects,
.pcs-parent {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.pcs-parent {
  overflow: hidden;
  gap: var(--gap-9xs);
  font-size: var(--s6-default-size);
  color: var(--color-black);
  font-family: var(--s2-default);
}
.inputs-and-selects {
  position: absolute;
  top: calc(50% - 16px);
  right: 0;
  border-radius: var(--br-xs);
  background-color: var(--c1-h);
  border: 1px solid var(--c1-d);
  padding: var(--padding-7xs);
  gap: var(--gap-7xs);
  font-size: var(--body-default-size);
  color: var(--c1-h);
  font-family: var(--body-default);
}
.price-button {
  align-self: stretch;
  position: relative;
  height: 2.81rem;
  flex-shrink: 0;
  overflow: hidden;
  font-size: var(--s4-default-size);
  color: var(--actionable-item);
}
.content-button {
  position: absolute;
  width: calc(100% - 116px);
  top: 0;
  right: 0;
  left: 7.25rem;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-base);
}
.component-84-child,
.frame-parent9 {
  align-self: stretch;
  position: relative;
  flex-shrink: 0;
}
.frame-parent9 {
  height: 9.63rem;
  overflow: hidden;
}
.component-84-child {
  border-top: 1px solid var(--c1-h);
  box-sizing: border-box;
  height: 0.06rem;
}
.component-84,
.component-84-parent,
.group-parent {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.component-84 {
  align-self: stretch;
  align-items: flex-start;
  gap: var(--gap-base);
  text-align: left;
  font-size: var(--button-default-size);
  color: var(--white);
  font-family: var(--s2-default);
}
.component-84-parent,
.group-parent {
  overflow: hidden;
  align-items: center;
}
.component-84-parent {
  align-self: stretch;
  gap: var(--gap-13xl);
}
.group-parent {
  gap: var(--gap-5xl);
}
.ic-chevron-left-icon {
  position: relative;
  width: 1.5rem;
  height: 1.5rem;
  flex-shrink: 0;
  overflow: hidden;
  display: none;
}
.button6 {
  position: relative;
  font-size: var(--button-default-size);
  font-family: var(--s2-default);
  color: var(--actionable-item);
  text-align: left;
}
.buttons1 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-7xs) var(--padding-base);
  background-color: var(--white);
  position: absolute;
  bottom: 0;
  left: 0;
  border-radius: var(--br-xs);
  height: 2.94rem;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: flex-start;
}
.go-to-checkout {
  position: relative;
  font-size: var(--button-default-size);
  font-family: var(--s2-default);
  color: var(--white);
  text-align: left;
}
.buttons-parent,
.buttons2 {
  position: absolute;
  bottom: 0;
  height: 3rem;
}
.buttons2 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-xs) var(--padding-base);
  background-color: var(--actionable-item);
  right: 0;
  border-radius: var(--br-xs);
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  align-items: center;
  justify-content: flex-start;
}
.buttons-parent {
  left: 1rem;
  width: 23rem;
}
.subtotal,
.usd4 {
  position: absolute;
  left: 0;
  font-weight: 600;
}
.subtotal {
  bottom: 2.94rem;
}
.usd4 {
  bottom: 0;
  font-size: var(--s2-default-size);
}
.subtotal-parent {
  position: absolute;
  bottom: 5.44rem;
  left: 1rem;
  width: 8.06rem;
  height: 4.06rem;
}
.group-child {
  position: absolute;
  width: calc(100% + 1px);
  right: -0.03rem;
  bottom: 3.91rem;
  left: -0.03rem;
  border-top: 1px solid var(--c1-e);
  box-sizing: border-box;
  height: 0.06rem;
}
.group-container {
  position: relative;
  width: 25rem;
  height: 9.5rem;
  flex-shrink: 0;
  font-size: var(--s6-default-size);
}
.modalsshoping-cart {
  position: absolute;
  top: 0;
  right: 0;
  background-color: var(--color-gray-300);
  box-shadow: var(--modals-1);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  padding: var(--padding-base) 0;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-11xl);
}
.cart {
  position: relative;
  width: 90rem;
  height: 67.5rem;
  overflow: hidden;
  opacity: 0;
  max-width: 90%;
  max-height: 90%;
  text-align: left;
  font-size: var(--s2-default-size);
  color: var(--white);
  font-family: var(--s2-default);
}
.cart.animate {
  animation: 0.25s ease 0s 1 normal forwards slide-in-right;
}
