<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/global.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/product-page.css') }}" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Open Sans:wght@400&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;500;600;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=DM Sans:wght@400;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Itim:wght@400&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@400&display=swap"
    />
  </head>
  <body>
    <div class="product-page">
      <div class="navigation-a3">
        <div class="logo-wrapper1">
          <div class="logo4" id="logoContainer">
            <div class="logo-inner3">
              <div class="logo-zenfit-1-wrapper2">
                <img
                  class="logo-zenfit-14"
                  alt=""
                  src="{{ url_for('static', filename='public/logo-zenfit-1@2x.png') }}"
                />
              </div>
            </div>
          </div>
        </div>
        <div class="frame-parent19">
          <a href="/store" style="text-decoration: none;"><button class="store-wrapper1" id="frameButton">
            <div class="store3">Store</div>
          </button></a>
          <a href="/AI" style="text-decoration: none;color: #18a0fb;"><div class="comunity-frame" id="frameContainer3">
            <div class="comunity2">ZenAI</div>
          </div></a>
          <div class="about-wrapper1"><div class="comunity2">About</div></div>
          <a href="/community" style="color: inherit;text-decoration: none;">
          <button class="prozen-parent1">
            <div class="prozen3">Community</div>
          </button>
          </a>
        </div>

        {% if logged == 0 %}
        <div class="solid-button-parent">
          <button class="solid-button" id="solidButton">
            <div class="prozen">Register</div></button
          ><button class="button" id="button">
            <div class="store">Log In</div>
          </button>
        </div>
        {% else %}
        <div class="navigation-a-inner1">
          <div class="icons-container">
            <a href="/user">
              <img
              class="icons8"
              alt=""
              src="{{ url_for('static', filename='public/icons4.svg') }}"
              id="icons"
            />
            </a>
            <a style="text-decoration: none;color: inherit;" href="/checkout">
              <img
              class="icons9"
              alt=""
              src="{{ url_for('static', filename='public/icons5.svg') }}"
              id="icons1"
            />
            </a>
          </div>
        </div>
        {% endif %}        

      </div>
      <div class="frame-parent21">
        <div class="frame-parent22">
          <div class="group-parent">
            <div class="basics-group">
              <div class="basics5">
                <img
                  class="basics-child2"
                  alt=""
                  src="{{ product.image_url }}"
                />
              </div>
            </div>
            <div class="basics6">
              <img
                class="basics-child2"
                alt=""
                src="{{ url_for('static', filename='public/rectangle-273@2x.png') }}"
              />
            </div>
          </div>
          <div class="basics-container">
            <div class="basics8">
              <img
                class="basics-child2"
                alt=""
                src="{{ url_for('static', filename='public/rectangle-273@2x.png') }}"
              />
            </div>
          </div>
        </div>
        <div class="frame-parent23">
          <div class="frame-parent24">
            <div class="carrots-from-tomissy-farm-parent">
              <div class="carrots-from-tomissy">{{ product.product_name}}</div>
              <div class="frame-parent25">
                <div class="bakery-parent">
                  {% for i in range(product.rating) %}
                    <img
                      class="ic-actions-star-icon"
                      alt=""
                      src="{{ url_for('static', filename='public/icactionsstar2.svg') }}"
                    />
                  {% endfor %}
                  {% for i in range(5-product.rating) %}
                    <img
                      class="ic-actions-star-icon"
                      alt=""
                      src="{{ url_for('static', filename='public/icactionsstar9.svg') }}"
                    />
                  {% endfor %}
                </div>
              </div>
            </div>
            <div class="powerful-strong-durable-container">
              <p class="powerful-strong-durable-ev">
                {{ product.product_description }}
              </p>
            </div>
            <div class="frame-parent26">
              <div class="frame-parent28">
                <div class="sku-parent">
                </div>
                {% for category in categories %}
                <div class="freshness-parent">
                  <div class="freshness">Category:</div>
                  <div class="vegetables">{{ category }}</div>
                </div>
                {% endfor %}
                <div class="freshness-parent">
                  <div class="freshness">Stock:</div>
                  <div class="in-stock" style="color: white;">In Stock</div>
                </div>
              </div>
            </div>
            <div class="group-container">
              <div class="rectangle-parent">
                <div class="group-child"></div>
                <div class="usd-parent">
                  <div class="free-shipping">₹ {{ product.product_price }}</div>
                </div>
                <div class="inputs-and-selects1">
                  <form action="/product/{{ product.id }}" method="post">
                  <select class="div24" name="number">
                    <option value="1">1 Pc</option>
                    <option value="2">2 Pcs</option>
                    <option value="3">3 Pcs</option>
                  </select>
                </div>
                <div class="buttons1" id="buttonsContainer"><b class="homepage"><button type="submit" class="button">Add to Cart</button></form></b>
                </div>
              </div>
              <div class="buttons-parent">
                <div class="buttons2">
                  <img
                    class="ic-actions-add-simple-icon"
                    alt=""
                    src="{{ url_for('static', filename='public/icactionsheart.svg') }}"
                  /><b class="homepage">Add to my wish list</b>
                </div>
                <div class="buttons3">
                  <img
                    class="ic-actions-add-simple-icon"
                    alt=""
                    src="{{ url_for('static', filename='public/iclayoutpictureright.svg') }}"
                  /><b class="homepage">Compare</b>
                </div>
              </div>
            </div>
          </div>
          <div class="product-detaildescription-t">
            <div class="description-parent">
              <div class="description">Description</div>
              <div class="group-item"></div>
              <div class="group-inner"></div>
            </div>
            <div class="group-parent1">
              <div class="material-parent">
                <div class="material">Material</div>
                <div class="powerful-strong-durable-container1">
                  <p class="powerful-strong-durable-ev">
                    Powerful, strong, durable – every athlete and their clothes.
                    With innovative sportswear designed to bring optimum comfort
                    and support,
                    <a
                      class="nike"
                      href="https://www.ajio.com/b/nike"
                      target="_blank"
                      >Nike </a
                    >brings to you the best you’ll ever get.
                  </p>
                  <p class="powerful-strong-durable-ev">
                    Choose from a variety of styles
                  </p>
                </div>
              </div>
              <div class="size-chart-parent">
                <div class="bakery">Size Chart</div>
                <div class="component-76-parent">
                  <div class="component-76">
                    <div class="free-shipping">Size</div>
                    <div class="free-shipping">Cm</div>
                    <div class="free-shipping">In</div>
                  </div>
                  <div class="frame-item"></div>
                  <div class="component-77">
                    <div class="free-shipping">6</div>
                    <div class="free-shipping">30</div>
                    <div class="free-shipping">10</div>
                  </div>
                  <div class="frame-item"></div>
                  <div class="component-77">
                    <div class="free-shipping">7</div>
                    <div class="free-shipping">31</div>
                    <div class="free-shipping">12</div>
                  </div>
                  <div class="frame-item"></div>
                  <div class="component-77">
                    <div class="free-shipping">8</div>
                    <div class="free-shipping">32</div>
                    <div class="free-shipping">13</div>
                  </div>
                  <div class="frame-item"></div>
                  <div class="component-77">
                    <div class="free-shipping">9</div>
                    <div class="free-shipping">33</div>
                    <div class="free-shipping">15</div>
                  </div>
                  <div class="frame-item"></div>
                  <div class="component-77">
                    <div class="free-shipping">10</div>
                    <div class="free-shipping">34</div>
                    <div class="free-shipping">16</div>
                  </div>
                  <div class="frame-item"></div>
                  <div class="component-77">
                    <div class="free-shipping">11</div>
                    <div class="free-shipping">36</div>
                    <div class="free-shipping">17</div>
                  </div>
                  <div class="frame-item"></div>
                  <div class="component-83">
                    <div class="free-shipping">12</div>
                    <div class="free-shipping">37</div>
                    <div class="free-shipping">18</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="productsproducts-with-title1">
        <div class="related-products-parent">
          <div class="related-products">Related products</div>
          <div class="buttons4">
            <b class="homepage"><a href="/store" style="text-decoration: none;">More products</a></b
            ><img
              class="ic-actions-add-simple-icon"
              alt=""
              src="{{ url_for('static', filename='public/icchevronright1.svg') }}"
            />
          </div>
        </div>
        <div class="productsproducts-with-title1-inner">
          <div class="frame-wrapper3">
            <div class="card-group">
              {% for product in fourprods %}
              <a class="card5" href="/product/{{ product.id }}" style="color: inherit;text-decoration: none;">
                <div class="card-image4" style="background-image: url({{ product.image_url }});">
                  <div class="rating4">
                    <img class="star-icon4" alt="" src="{{ url_for('static', filename='public/star4.svg') }}" />
                    <div class="bakery">{{ product.rating }}</div>
                  </div>
                  <div class="button6">
                    <div class="exclusive4">EXCLUSIVE</div>
                  </div>
                </div>
                <div class="card-body6">
                  <div class="nike-infinity-react1">{{ product.product_name }}</div>
                </div>
                <div class="card-footer5">
                  <div class="bakery">₹{{ product.product_price }}</div>
                  <div class="icons10">
                    <img
                      class="vector-icon10"
                      alt=""
                      src="{{ url_for('static', filename='public/vector6.svg') }}"
                    />
                  </div>
                </div>
              </a>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
      <div class="footer-a1">
        <div class="logo-group">
          <div class="logo5">
            <div class="logo-inner3">
              <div class="logo-zenfit-1-wrapper2">
                <img
                  class="logo-zenfit-14"
                  alt=""
                  src="{{ url_for('static', filename='public/logo-zenfit-11@2x.png') }}"
                />
              </div>
            </div>
          </div>
          <div class="frame-parent29">
            <div class="mobile-app-group">
              <b class="mobile-app1">Mobile app</b>
              <div class="features-live-share-container1">
                <p class="powerful-strong-durable-ev">Features</p>
                <p class="powerful-strong-durable-ev">Live share</p>
                <p class="powerful-strong-durable-ev">Video record</p>
              </div>
            </div>
            <div class="mobile-app-group">
              <b class="mobile-app1">Community</b>
              <div class="features-live-share-container1">
                <p class="powerful-strong-durable-ev">Featured artists</p>
                <p class="powerful-strong-durable-ev">The Portal</p>
                <p class="powerful-strong-durable-ev">Live events</p>
              </div>
            </div>
            <div class="mobile-app-group">
              <b class="mobile-app1">Company</b>
              <div class="features-live-share-container1">
                <p class="powerful-strong-durable-ev">About us</p>
                <p class="powerful-strong-durable-ev">Contact us</p>
                <p class="powerful-strong-durable-ev">History</p>
              </div>
            </div>
          </div>
        </div>
        <div class="footer-a-item"></div>
        <div class="photo-inc-2019-we-love-our-group">
          <div class="photo-inc-20191">
            © ZenFit, Inc. 2023 made by DevLoopers
          </div>
          <div class="follow-us-group">
            <div class="follow-us1">Follow us:</div>
            <img class="ellipse-icon4" alt="" src="https://cdn-icons-png.flaticon.com/512/124/124010.png" /><img
              class="ellipse-icon4"
              alt=""
              src="https://cdn-icons-png.flaticon.com/512/124/124021.png"
            /><img class="ellipse-icon4" alt="" src="https://img.freepik.com/premium-vector/instagram-social-media-icon-gradient-social-media-logo_197792-4682.jpg" /><img
              class="ellipse-icon4"
              alt=""
              src="https://cdn-icons-png.flaticon.com/512/1384/1384060.png"
            />
          </div>
        </div>
      </div>
    </div>

    <div id="cartContainer" class="popup-overlay" style="display: none">
      <div class="cart1">
        <div class="modalsshoping-cart">
          <div class="group-parent6">
            <div class="shopping-cart-parent">
              <div class="shopping-cart">Shopping cart</div>
              <button class="close-parent" id="pop">
                <div class="close">Close</div>
                <img
                  class="ic-actions-close-simple-icon"
                  alt=""
                  src="{{ url_for('static', filename='public/icactionsclosesimple.svg') }}"
                />
              </button>
            </div>
            <article class="component-84-group">
              <article class="component-841">
                <div class="frame-parent45">
                  <div class="basics-wrapper1">
                    <div class="basics11">
                      <img
                        class="basics-child8"
                        alt=""
                        src="{{ url_for('static', filename='public/rectangle-261@2x.png') }}"
                      />
                    </div>
                  </div>
                  <div class="content-button2">
                    <div class="content-button-inner1">
                      <div class="frame-wrapper12">
                        <div class="frame-parent46">
                          <div class="product-title-container">
                            <div class="product-title2">Product title</div>
                            <div class="frame-parent47">
                              <div class="brand-container">
                                <div class="brand2">Brand</div>
                                <div class="nike6">Nike</div>
                              </div>
                              <div class="size-container">
                                <div class="brand2">Size</div>
                                <div class="div59">9</div>
                              </div>
                            </div>
                          </div>
                          <div class="ic-actions-star-parent1">
                            <img
                              class="ic-actions-star-icon14"
                              alt=""
                              src="{{ url_for('static', filename='public/icactionsstar2.svg') }}"
                            /><img
                              class="ic-actions-star-icon14"
                              alt=""
                              src="{{ url_for('static', filename='public/icactionsstar2.svg') }}"
                            /><img
                              class="ic-actions-star-icon14"
                              alt=""
                              src="{{ url_for('static', filename='public/icactionsstar2.svg') }}"
                            /><img
                              class="ic-actions-star-icon14"
                              alt=""
                              src="{{ url_for('static', filename='public/icactionsstar2.svg') }}"
                            /><img
                              class="ic-actions-star-icon14"
                              alt=""
                              src="{{ url_for('static', filename='public/icactionsstar11.svg') }}"
                            />
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="price-button2">
                      <div class="price-button-inner"></div>
                      <div class="price-discount-price2">
                        <div class="usd10">36.99 USD</div>
                        <div class="usd11">48.56 USD</div>
                      </div>
                      <div class="inputs-and-selects16">
                        <div class="pcs5">1 pcs</div>
                        <div class="line-div"></div>
                        <div class="pcs-parent1">
                          <div class="pcs6">Pcs</div>
                          <img
                            class="ic-chevron-down-icon15"
                            alt=""
                            src="{{ url_for('static', filename='public/icchevrondown.svg') }}"
                          />
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="component-84-item"></div>
              </article>
              <article class="component-841">
                <div class="frame-parent45">
                  <div class="basics-wrapper1">
                    <div class="basics11">
                      <img
                        class="basics-child8"
                        alt=""
                        src="{{ url_for('static', filename='public/rectangle-261@2x.png') }}"
                      />
                    </div>
                  </div>
                  <div class="content-button2">
                    <div class="content-button-inner1">
                      <div class="frame-wrapper12">
                        <div class="frame-parent46">
                          <div class="product-title-container">
                            <div class="product-title2">Product title</div>
                            <div class="frame-parent47">
                              <div class="brand-container">
                                <div class="brand2">Brand</div>
                                <div class="nike6">Nike</div>
                              </div>
                              <div class="size-container">
                                <div class="brand2">Size</div>
                                <div class="div59">9</div>
                              </div>
                            </div>
                          </div>
                          <div class="ic-actions-star-parent1">
                            <img
                              class="ic-actions-star-icon14"
                              alt=""
                              src="{{ url_for('static', filename='public/icactionsstar3.svg') }}"
                            /><img
                              class="ic-actions-star-icon14"
                              alt=""
                              src="{{ url_for('static', filename='public/icactionsstar3.svg') }}"
                            /><img
                              class="ic-actions-star-icon14"
                              alt=""
                              src="{{ url_for('static', filename='public/icactionsstar3.svg') }}"
                            /><img
                              class="ic-actions-star-icon14"
                              alt=""
                              src="{{ url_for('static', filename='public/icactionsstar3.svg') }}"
                            /><img
                              class="ic-actions-star-icon14"
                              alt=""
                              src="{{ url_for('static', filename='public/icactionsstar31.svg') }}"
                            />
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="price-button2">
                      <div class="price-button-inner"></div>
                      <div class="price-discount-price2">
                        <div class="usd10">36.99 USD</div>
                        <div class="usd11">48.56 USD</div>
                      </div>
                      <div class="inputs-and-selects16">
                        <div class="pcs5">1 pcs</div>
                        <div class="line-div"></div>
                        <div class="pcs-parent1">
                          <div class="pcs6">Pcs</div>
                          <img
                            class="ic-chevron-down-icon15"
                            alt=""
                            src="{{ url_for('static', filename='public/icchevrondown1.svg') }}"
                          />
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="component-84-item"></div>
              </article>
            </article>
          </div>
          <div class="group-parent7">
            <div class="buttons-group">
              <button class="buttons6" id="popupbuttons">
                <img
                  class="ic-chevron-left-icon"
                  alt=""
                  src="{{ url_for('static', filename='public/icchevronleft.svg') }}"
                /><b class="button10">Continue shopping</b></button
              ><button class="buttons7" id="popupbuttons1">
                <b class="go-to-checkout">Go to Checkout</b>
              </button>
            </div>
            <div class="subtotal-group">
              <div class="subtotal1">Subtotal</div>
              <div class="usd14">73.98 USD</div>
            </div>
            <div class="group-child12"></div>
          </div>
        </div>
      </div>
    </div>

    <div id="registerMember" class="popup-overlay" style="display: none">
      <div class="register-member2">
        <form class="register-member3" action="/register" method="post">
          <div class="register-now4">Register Now</div>
          <div class="registration-option2">
            <div class="log-in3">Member</div>
          </div>
          <div class="name-field2">
            <div class="full-name2">Username</div>
            <div class="input-field9">
              <input class="tejas-kumar1" type="text" name="username" />
            </div>
            <div class="full-name2" >First Name</div>
            <div class="input-field9">
              <input class="tejas-kumar1" type="text" name="firstname" />
            </div>
            <div class="full-name2" >Last Name</div>
            <div class="input-field9">
              <input class="tejas-kumar1" type="text" name="lastname" />
            </div>
          </div>
          <div class="details-feild2">
            <div class="age-field2">
              <p class="age4">Age</p>
              <input class="input-field10" type="number" name="age" />
            </div>
            <div class="height-field2">
              <div class="full-name2">Height</div>
              <div class="input-height-field-parent">
                <input class="input-height-field2" type="number" name="height" style="color: white;"/>
                <div class="full-name2">cm</div>
              </div>
            </div>
            <div class="weight-field">
              <div class="full-name2">Weight</div>
              <div class="input-height-field-group">
                <input class="input-height-field2" type="number" name="weight" style="color: white;"/>
                <div class="full-name2">kg</div>
              </div>
            </div>
          </div>
          <div class="name-field2">
            <div class="full-name2">Email</div>
            <div class="input-field11">
              <img class="email-icon2" alt="" src="{{ url_for('static', filename='public/email2.svg') }}" />
              <div class="input-field-child2"></div>
              <input class="tejas-kumar1" type="email" name="email" style="color: white;"/>
            </div>
          </div>
          <div class="password-field3">
            <div class="full-name2">Password</div>
            <div class="input-field11">
              <img class="password-icon2" alt="" src="{{ url_for('static', filename='public/password2.svg') }}" />
              <div class="input-field-child2"></div>
              <input class="input2" type="password" name="password" style="color: white;"/>
            </div>
          </div>
          <button class="log-in-button2" type="submit">
            <div class="register-now5">Register Now</div>
          </button>
        </form>
      </div>
    </div>

    <div id="logInContainer" class="popup-overlay" style="display: none">
      <div class="log-in4">
        <form class="sign-in" method="post" action="/login">
          <div class="log-in5">Log In</div>
          <div class="email-field3">
            <div class="email3">Username</div>
            <div class="input-field13">
              <img class="email-icon3" alt="" src="{{ url_for('static', filename='public/email3.svg') }}" />
              <div class="input-field-child4"></div>
              <input class="examplegmailcom3" type="text" name="username" style="color: white;" />
            </div>
          </div>
          <div class="password-field4">
            <div class="email3">Password</div>
            <div class="input-field13">
              <img class="password-icon3" alt="" src="{{ url_for('static', filename='public/password3.svg') }}" />
              <div class="input-field-child4"></div>
              <input class="input3" type="password" name="password" style="color: white;"/>
            </div>
          </div>
          <button class="forget-password">Forget password?</button
          ><button class="log-in-button3" type="submit">
            <div class="log-in6">Log In</div>
          </button>
        </form>
      </div>
    </div>

    <script>
      
      var popupbuttons1 = document.getElementById("popupbuttons1");
      if (popupbuttons1) {
        popupbuttons1.addEventListener("click", function (e) {
          window.location.href = "./checkout";
        });
      }
      
      var logoContainer = document.getElementById("logoContainer");
      if (logoContainer) {
        logoContainer.addEventListener("click", function (e) {
          window.location.href = "/";
        });
      }
      
      var frameContainer3 = document.getElementById("frameContainer3");
      if (frameContainer3) {
        frameContainer3.addEventListener("click", function (e) {
          window.location.href = "./AI";
        });
      }
      
      var icons = document.getElementById("icons");
      if (icons) {
        icons.addEventListener("click", function (e) {
          window.location.href = "./user";
        });
      }
      
      // var icons1 = document.getElementById("icons1");
      // if (icons1) {
      //   icons1.addEventListener("click", function () {
      //     var popup = document.getElementById("cartContainer");
      //     if (!popup) return;
      //     var popupStyle = popup.style;
      //     if (popupStyle) {
      //       popupStyle.display = "flex";
      //       popupStyle.zIndex = 100;
      //       popupStyle.backgroundColor = "rgba(113, 113, 113, 0.3)";
      //       popupStyle.alignItems = "center";
      //       popupStyle.justifyContent = "center";
      //     }
      //     popup.setAttribute("closable", "");
      
      //     var onClick =
      //       popup.onClick ||
      //       function (e) {
      //         if (e.target === popup && popup.hasAttribute("closable")) {
      //           popupStyle.display = "none";
      //         }
      //       };
      //     popup.addEventListener("click", onClick);
      //   });
      // }
      
      var buttonsContainer = document.getElementById("buttonsContainer");
      if (buttonsContainer) {
        buttonsContainer.addEventListener("click", function () {
          var popup = document.getElementById("cartContainer");
          if (!popup) return;
          var popupStyle = popup.style;
          if (popupStyle) {
            popupStyle.display = "flex";
            popupStyle.zIndex = 100;
            popupStyle.backgroundColor = "rgba(113, 113, 113, 0.3)";
            popupStyle.alignItems = "center";
            popupStyle.justifyContent = "center";
          }
          popup.setAttribute("closable", "");
      
          var onClick =
            popup.onClick ||
            function (e) {
              if (e.target === popup && popup.hasAttribute("closable")) {
                popupStyle.display = "none";
              }
            };
          popup.addEventListener("click", onClick);


        });
      }

      var solidButton = document.getElementById("solidButton");
      if (solidButton) {
        solidButton.addEventListener("click", function () {
          var popup = document.getElementById("registerMember");
          if (!popup) return;
          var popupStyle = popup.style;
          if (popupStyle) {
            popupStyle.display = "flex";
            popupStyle.zIndex = 100;
            popupStyle.backgroundColor = "rgba(113, 113, 113, 0.3)";
            popupStyle.alignItems = "center";
            popupStyle.justifyContent = "center";
          }
          popup.setAttribute("closable", "");
      
          var onClick =
            popup.onClick ||
            function (e) {
              if (e.target === popup && popup.hasAttribute("closable")) {
                popupStyle.display = "none";
              }
            };
          popup.addEventListener("click", onClick);
        });
      }

      var button = document.getElementById("button");
      if (button) {
        button.addEventListener("click", function () {
          var popup = document.getElementById("logInContainer");
          if (!popup) return;
          var popupStyle = popup.style;
          if (popupStyle) {
            popupStyle.display = "flex";
            popupStyle.zIndex = 100;
            popupStyle.backgroundColor = "rgba(113, 113, 113, 0.3)";
            popupStyle.alignItems = "center";
            popupStyle.justifyContent = "center";
          }
          popup.setAttribute("closable", "");
      
          var onClick =
            popup.onClick ||
            function (e) {
              if (e.target === popup && popup.hasAttribute("closable")) {
                popupStyle.display = "none";
              }
            };
          popup.addEventListener("click", onClick);
        });
      }
      </script>
  </body>
</html>
