<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/global.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/profile-page.css') }}" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Open Sans:wght@400&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;500;600;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=DM Sans:wght@400;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Itim:wght@400&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@400&display=swap"
    />
  </head>
  <body>
    <div class="profile-page">
      <div class="navigation-a7">
        <div class="logo-wrapper5">
          <div class="logo12" id="logoContainer">
            <div class="logo-inner11">
              <div class="logo-zenfit-1-wrapper10">
                <img
                  class="logo-zenfit-112"
                  alt=""
                  src="{{ url_for('static', filename= 'public/logo-zenfit-1@2x.png') }}"
                />
              </div>
            </div>
          </div>
        </div>
        <div class="frame-parent56">
          <div class="store-wrapper5" id="frameContainer3">
            <a href="/store" style="text-decoration: none;color: #18a0fb;"><div class="store7">Store</div></a>
          </div>
          <div class="store-wrapper5" id="frameContainer4">
            <a href="/AI" style="text-decoration: none;color: #18a0fb;"><div class="store7">ZenAI</div></a>
          </div>
          <div class="about-wrapper5"><div class="store7">About</div></div>
          <div class="prozen-parent5">
            <div class="store7">ProZen</div>
            <img class="vector-icon33" alt="" src="{{ url_for('static', filename= 'public/vector10.svg') }}" />
          </div>
        </div>
        <div class="this-week-parent">
          <div class="icons-parent4">
            <a href="/profile">
              <img
              class="icons37"
              alt=""
              src="{{ url_for('static', filename= 'public/icons8.svg') }}"
              id="icons"
            />
            </a>
            <a href="/checkout">
              <img
              class="icons38"
              alt=""
              src="{{ url_for('static', filename= 'public/icons3.svg') }}"
              id="icons1"
            />
            </a>
          </div>
        </div>
      </div>
      <div class="menu-drawer-parent">
        <div class="menu-drawer">
          <div class="apps-pages">
            <div class="listitem">
              <div class="container1">
                <img
                  class="bx-calendar-alt-icon"
                  alt=""
                  src="{{ url_for('static', filename= 'public/bxcalendaralt.svg') }}"
                />
              </div>
              <div class="text-container">
                <div class="fitness-board">Fitness Board</div>
              </div>
            </div>
            <div class="listitem1">
              <div class="container1">
                <img
                  class="bx-calendar-alt-icon"
                  alt=""
                  src="{{ url_for('static', filename= 'public/bxuser.svg') }}"
                />
              </div>
              <div class="text-container">
                <div class="fitness-board">User</div>
              </div>
            </div>
            <div class="listitem1">
              <div class="container1">
                <img
                  class="bx-calendar-alt-icon"
                  alt=""
                  src="{{ url_for('static', filename= 'public/bxchat.svg') }}"
                />
              </div>
              <div class="text-container">
                <div class="fitness-board">Chat</div>
              </div>
            </div>
            <div class="listitem1">
              <div class="container1">
                <img
                  class="bx-calendar-alt-icon"
                  alt=""
                  src="{{ url_for('static', filename= 'public/bxfile.svg') }}"
                />
              </div>
              <div class="text-container">
                <div class="fitness-board">Order History</div>
              </div>
            </div>
            <div class="listitem1">
              <div class="container1">
                <img
                  class="bx-calendar-alt-icon"
                  alt=""
                  src="{{ url_for('static', filename= 'public/bxlock.svg') }}"
                />
              </div>
              <div class="text-container">
                <div class="subscription">Subscription</div>
              </div>
            </div>
            <div class="listitem1">
              <div class="container1">
                <img
                  class="bx-calendar-alt-icon"
                  alt=""
                  src="{{ url_for('static', filename= 'public/bxfileblank.svg') }}"
                />
              </div>
              <div class="text-container">
                <div class="fitness-board">Your Posts</div>
              </div>
            </div>
          </div>
        </div>
        <div class="fitness-dashboard">
          <div class="options">
            <div class="exercise-parent">
              <b class="exercise">Exercise</b>
              <div class="frame-child5"></div>
            </div>
            <div class="food-plan">Food plan</div>
            <div class="notes">Notes</div>
          </div>
          <div class="frame-parent57">
            <div class="frame-parent58">
              <div class="shape-your-ideal-body-parent">
                <div class="shape-your-ideal-container">
                  <span class="shape-your-ideal-container1"
                    >SHAPE <span>YOUR IDEAL BODY</span></span
                  >
                </div>
                <div class="day-21">Day 21</div>
              </div>
              <div class="frame-parent59">
                <div class="frame-parent60">
                  <div class="parent1">
                    <div class="div107">4:35</div>
                    <img class="chart-icon2" alt="" src="{{ url_for('static', filename= 'public/chart2.svg') }}" />
                  </div>
                  <div class="push-ups-container">
                    <div class="push-ups2">Push ups</div>
                    <div class="x-5-minutes2">6 x 5 minutes</div>
                  </div>
                  <div class="sit-ups-frame">
                    <div class="sit-ups2">Sit Ups</div>
                  </div>
                  <div class="sit-ups-frame">
                    <div class="sit-ups2">Squats</div>
                  </div>
                  <div class="sit-ups-frame">
                    <div class="sit-ups2">Pull Ups</div>
                  </div>
                </div>
                <div class="progress">
                  <div class="week-3-parent">
                    <div class="week-3">Week 3</div>
                    <img
                      class="frame-child6"
                      alt=""
                      src="{{ url_for('static', filename= 'public/vector-2.svg') }}"
                    />
                  </div>
                  <div class="progress-graph">
                    <div class="graph">
                      <div class="graph-lines">
                        <div class="graph-lines-child"></div>
                        <div class="graph-lines-child"></div>
                        <div class="graph-lines-child"></div>
                        <div class="graph-lines-child"></div>
                        <div class="graph-lines-child"></div>
                      </div>
                      <div class="graph1">
                        <div class="graph-elements">
                          <div class="graph-elements-child"></div>
                          <div class="may">Mon</div>
                          <img
                            class="graph-elements-item"
                            alt=""
                            src="{{ url_for('static', filename= 'public/ellipse-32.svg') }}"
                          />
                        </div>
                        <div class="graph-elements1">
                          <div class="graph-elements-child"></div>
                          <div class="may">Tue</div>
                          <img
                            class="graph-elements-item"
                            alt=""
                            src="{{ url_for('static', filename= 'public/ellipse-32.svg') }}"
                          />
                        </div>
                        <div class="graph-elements2">
                          <div class="graph-elements-child"></div>
                          <div class="may">Wed</div>
                          <img
                            class="graph-elements-item"
                            alt=""
                            src="{{ url_for('static', filename= 'public/ellipse-32.svg') }}"
                          />
                        </div>
                        <div class="graph-elements3">
                          <div class="graph-elements-child4"></div>
                          <div class="may">Thu</div>
                          <img
                            class="graph-elements-item"
                            alt=""
                            src="{{ url_for('static', filename= 'public/ellipse-321.svg') }}"
                          />
                        </div>
                        <div class="graph-elements4">
                          <div class="graph-elements-child6"></div>
                          <div class="may">Fri</div>
                          <img
                            class="graph-elements-item"
                            alt=""
                            src="{{ url_for('static', filename= 'public/ellipse-32.svg') }}"
                          />
                        </div>
                        <div class="graph-elements5">
                          <div class="graph-elements-child6"></div>
                          <div class="may">Sat</div>
                          <img
                            class="graph-elements-item"
                            alt=""
                            src="{{ url_for('static', filename= 'public/ellipse-32.svg') }}"
                          />
                        </div>
                        <div class="graph-elements1">
                          <div class="graph-elements-child10"></div>
                          <div class="may">Sun</div>
                          <img
                            class="graph-elements-item"
                            alt=""
                            src="{{ url_for('static', filename= 'public/ellipse-32.svg') }}"
                          />
                        </div>
                      </div>
                    </div>
                    <div class="parent2">
                      <div class="div108">40</div>
                      <div class="div108">30</div>
                      <div class="div108">20</div>
                      <div class="div108">10</div>
                      <div class="div108">0</div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="horizontal-column">
                <div class="total-calories-parent">
                  <b class="total-calories">Total Calories</b>
                  <div class="frame-parent61">
                    <div class="frame-parent62">
                      <div class="this-week-parent">
                        <div class="this-week">This week</div>
                        <div class="kcal">2300 Kcal</div>
                      </div>
                      <div class="this-week-parent">
                        <div class="this-week">Previous</div>
                        <div class="kcal">1800 Kcal</div>
                      </div>
                    </div>
                    <div class="kcal-wrapper">
                      <div class="kcal2">900 Kcal</div>
                    </div>
                  </div>
                </div>
                <div class="total-hours-parent">
                  <b class="total-hours">Total Hours</b>
                  <div class="frame-parent63">
                    <div class="frame-parent64">
                      <div class="this-week-parent">
                        <div class="this-week">This week</div>
                        <div class="hrs">16 hrs</div>
                      </div>
                      <div class="this-week-parent">
                        <div class="this-week">Previous</div>
                        <div class="hrs1">10 hrs</div>
                      </div>
                    </div>
                    <div class="chart">
                      <div class="this-week-parent">
                        <div class="col-child"></div>
                      </div>
                      <div class="this-week-parent">
                        <div class="col-item"></div>
                      </div>
                      <div class="this-week-parent">
                        <div class="col-inner"></div>
                      </div>
                      <div class="this-week-parent">
                        <div class="col-child1"></div>
                      </div>
                      <div class="this-week-parent">
                        <div class="col-child"></div>
                      </div>
                      <div class="this-week-parent">
                        <div class="col-child3"></div>
                      </div>
                      <div class="this-week-parent">
                        <div class="col-child4"></div>
                      </div>
                      <div class="this-week-parent">
                        <div class="col-child5"></div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="total-calories-parent">
                  <b class="total-hours">Total Hours</b>
                  <div class="frame-parent61">
                    <div class="frame-parent64">
                      <div class="this-week-parent">
                        <div class="this-week">This week</div>
                        <div class="hrs">16 hrs</div>
                      </div>
                      <div class="this-week-parent">
                        <div class="this-week">Previous</div>
                        <div class="hrs1">10 hrs</div>
                      </div>
                    </div>
                    <div class="kcal-wrapper">
                      <div class="kcal2">26:50:32</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="vertical-column">
              <div class="your-liked-posts">Your Liked Posts</div>
              <div class="frame-parent67">
                <div class="frame-parent68">
                  <div class="health-fitness-parent">
                    <b class="health-fitness">Health Fitness</b>
                    <div class="lorem-ipsum-dolor-container2">
                      <span class="shape-your-ideal-container1"
                        ><p class="lorem-ipsum-dolor2">
                          Lorem ipsum dolor sit amet, consectetur adipiscing
                          elit, sed do eiusmod tempor incididunt ut labore et
                          dolore magna aliqua. .
                        </p></span
                      >
                    </div>
                    <div class="learn-more-parent">
                      <div class="learn-more">Learn More</div>
                      <img
                        class="material-symbolskeyboard-doub-icon"
                        alt=""
                        src="{{ url_for('static', filename= 'public/materialsymbolskeyboarddoublearrowright.svg') }}"
                      />
                    </div>
                  </div>
                  <img
                    class="arrow-icon01-3-4"
                    alt=""
                    src="{{ url_for('static', filename= 'public/arrowicon01-3-4@2x.png') }}"
                  />
                </div>
                <div class="frame-parent68">
                  <div class="health-fitness-parent">
                    <b class="health-fitness">Health Fitness</b>
                    <div class="lorem-ipsum-dolor-container2">
                      <span class="shape-your-ideal-container1"
                        ><p class="lorem-ipsum-dolor2">
                          Lorem ipsum dolor sit amet, consectetur adipiscing
                          elit, sed do eiusmod tempor incididunt ut labore et
                          dolore magna aliqua. .
                        </p></span
                      >
                    </div>
                    <div class="learn-more-parent">
                      <div class="learn-more">Learn More</div>
                      <img
                        class="material-symbolskeyboard-doub-icon"
                        alt=""
                        src="{{ url_for('static', filename= 'public/materialsymbolskeyboarddoublearrowright.svg') }}"
                      />
                    </div>
                  </div>
                  <img
                    class="arrow-icon01-2-3"
                    alt=""
                    src="{{ url_for('static', filename= 'public/arrowicon01-2-3@2x.png') }}"
                  />
                </div>
                <div class="frame-parent70">
                  <div class="health-fitness-parent">
                    <b class="health-fitness">Health Fitness</b>
                    <div class="lorem-ipsum-dolor-container2">
                      <span class="shape-your-ideal-container1"
                        ><p class="lorem-ipsum-dolor2">
                          Lorem ipsum dolor sit amet, consectetur adipiscing
                          elit, sed do eiusmod tempor incididunt ut labore et
                          dolore magna aliqua. .
                        </p></span
                      >
                    </div>
                    <div class="learn-more-parent">
                      <div class="learn-more">Learn More</div>
                      <img
                        class="material-symbolskeyboard-doub-icon"
                        alt=""
                        src="{{ url_for('static', filename= 'public/materialsymbolskeyboarddoublearrowright.svg') }}"
                      />
                    </div>
                  </div>
                  <img
                    class="arrow-icon01-1-2"
                    alt=""
                    src="{{ url_for('static', filename= 'public/arrowicon01-1-2@2x.png') }}"
                  />
                </div>
                <div class="frame-parent70">
                  <div class="health-fitness-parent">
                    <b class="health-fitness">Health Fitness</b>
                    <div class="lorem-ipsum-dolor-container2">
                      <span class="shape-your-ideal-container1"
                        ><p class="lorem-ipsum-dolor2">
                          Lorem ipsum dolor sit amet, consectetur adipiscing
                          elit, sed do eiusmod tempor incididunt ut labore et
                          dolore magna aliqua. .
                        </p></span
                      >
                    </div>
                    <div class="learn-more-parent">
                      <div class="learn-more">Learn More</div>
                      <img
                        class="material-symbolskeyboard-doub-icon"
                        alt=""
                        src="{{ url_for('static', filename= 'public/materialsymbolskeyboarddoublearrowright.svg') }}"
                      />
                    </div>
                  </div>
                  <img
                    class="arrow-icon01-1-2"
                    alt=""
                    src="{{ url_for('static', filename= 'public/arrowicon01-2-2@2x.png') }}"
                  />
                </div>
              </div>
              <div class="parent3">
                <div class="total-calories">1</div>
                <div class="total-calories">2</div>
                <div class="div116">3</div>
                <div class="total-calories">...</div>
                <div class="total-calories">8</div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="footer-a5">
        <div class="logo-parent4">
          <div class="logo13">
            <div class="logo-inner11">
              <div class="logo-zenfit-1-wrapper10">
                <img
                  class="logo-zenfit-112"
                  alt=""
                  src="{{ url_for('static', filename= 'public/logo-zenfit-13@2x.png') }}"
                />
              </div>
            </div>
          </div>
          <div class="frame-parent72">
            <div class="mobile-app-parent3">
              <b class="mobile-app5">Mobile app</b>
              <div class="features-live-share-container5">
                <p class="lorem-ipsum-dolor2">Features</p>
                <p class="lorem-ipsum-dolor2">Live share</p>
                <p class="lorem-ipsum-dolor2">Video record</p>
              </div>
            </div>
            <div class="mobile-app-parent3">
              <b class="mobile-app5">Community</b>
              <div class="features-live-share-container5">
                <p class="lorem-ipsum-dolor2">Featured artists</p>
                <p class="lorem-ipsum-dolor2">The Portal</p>
                <p class="lorem-ipsum-dolor2">Live events</p>
              </div>
            </div>
            <div class="mobile-app-parent3">
              <b class="mobile-app5">Company</b>
              <div class="features-live-share-container5">
                <p class="lorem-ipsum-dolor2">About us</p>
                <p class="lorem-ipsum-dolor2">Contact us</p>
                <p class="lorem-ipsum-dolor2">History</p>
              </div>
            </div>
          </div>
        </div>
        <div class="footer-a-child3"></div>
        <div class="photo-inc-2019-we-love-our-parent3">
          <div class="photo-inc-20195">
            © ZenFit, Inc. 2023 made by DevLoopers
          </div>
          <div class="follow-us-parent3">
            <div class="follow-us5">Follow us:</div>
            <img
              class="ellipse-icon20"
              alt=""
              src="{{ url_for('static', filename= 'public/ellipse2.svg') }}"
            /><img
              class="ellipse-icon20"
              alt=""
              src="{{ url_for('static', filename= 'public/ellipse2.svg') }}"
            /><img
              class="ellipse-icon20"
              alt=""
              src="{{ url_for('static', filename= 'public/ellipse2.svg') }}"
            /><img class="ellipse-icon20" alt="" src="{{ url_for('static', filename= 'public/ellipse2.svg') }}" />
          </div>
        </div>
      </div>
    </div>

    <div id="cartContainer" class="popup-overlay" style="display: none">
      <div class="cart1">
        <div class="modalsshoping-cart">
          <div class="group-parent6">
            <div class="shopping-cart-parent">
              <div class="shopping-cart">Shopping cart</div>
              <button class="close-parent">
                <div class="close">Close</div>
                <img
                  class="ic-actions-close-simple-icon"
                  alt=""
                  src="{{ url_for('static', filename= 'public/icactionsclosesimple.svg') }}"
                />
              </button>
            </div>
            <article class="component-84-group">
              <article class="component-841">
                <div class="frame-parent45">
                  <div class="basics-wrapper1">
                    <div class="basics11">
                      <img
                        class="basics-child8"
                        alt=""
                        src="{{ url_for('static', filename= 'public/rectangle-261@2x.png') }}"
                      />
                    </div>
                  </div>
                  <div class="content-button2">
                    <div class="content-button-inner1">
                      <div class="frame-wrapper12">
                        <div class="frame-parent46">
                          <div class="product-title-container">
                            <div class="product-title2">Product title</div>
                            <div class="frame-parent47">
                              <div class="brand-container">
                                <div class="brand2">Brand</div>
                                <div class="nike6">Nike</div>
                              </div>
                              <div class="size-container">
                                <div class="brand2">Size</div>
                                <div class="div59">9</div>
                              </div>
                            </div>
                          </div>
                          <div class="ic-actions-star-parent1">
                            <img
                              class="ic-actions-star-icon14"
                              alt=""
                              src="{{ url_for('static', filename= 'public/icactionsstar2.svg') }}"
                            /><img
                              class="ic-actions-star-icon14"
                              alt=""
                              src="{{ url_for('static', filename= 'public/icactionsstar2.svg') }}"
                            /><img
                              class="ic-actions-star-icon14"
                              alt=""
                              src="{{ url_for('static', filename= 'public/icactionsstar2.svg') }}"
                            /><img
                              class="ic-actions-star-icon14"
                              alt=""
                              src="{{ url_for('static', filename= 'public/icactionsstar2.svg') }}"
                            /><img
                              class="ic-actions-star-icon14"
                              alt=""
                              src="{{ url_for('static', filename= 'public/icactionsstar11.svg') }}"
                            />
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="price-button2">
                      <div class="price-button-inner"></div>
                      <div class="price-discount-price2">
                        <div class="usd10">36.99 USD</div>
                        <div class="usd11">48.56 USD</div>
                      </div>
                      <div class="inputs-and-selects16">
                        <div class="pcs5">1 pcs</div>
                        <div class="line-div"></div>
                        <div class="pcs-parent1">
                          <div class="pcs6">Pcs</div>
                          <img
                            class="ic-chevron-down-icon15"
                            alt=""
                            src="{{ url_for('static', filename= 'public/icchevrondown.svg') }}"
                          />
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="component-84-item"></div>
              </article>
              <article class="component-841">
                <div class="frame-parent45">
                  <div class="basics-wrapper1">
                    <div class="basics11">
                      <img
                        class="basics-child8"
                        alt=""
                        src="{{ url_for('static', filename= 'public/rectangle-261@2x.png') }}"
                      />
                    </div>
                  </div>
                  <div class="content-button2">
                    <div class="content-button-inner1">
                      <div class="frame-wrapper12">
                        <div class="frame-parent46">
                          <div class="product-title-container">
                            <div class="product-title2">Product title</div>
                            <div class="frame-parent47">
                              <div class="brand-container">
                                <div class="brand2">Brand</div>
                                <div class="nike6">Nike</div>
                              </div>
                              <div class="size-container">
                                <div class="brand2">Size</div>
                                <div class="div59">9</div>
                              </div>
                            </div>
                          </div>
                          <div class="ic-actions-star-parent1">
                            <img
                              class="ic-actions-star-icon14"
                              alt=""
                              src="{{ url_for('static', filename= 'public/icactionsstar3.svg') }}"
                            /><img
                              class="ic-actions-star-icon14"
                              alt=""
                              src="{{ url_for('static', filename= 'public/icactionsstar3.svg') }}"
                            /><img
                              class="ic-actions-star-icon14"
                              alt=""
                              src="{{ url_for('static', filename= 'public/icactionsstar3.svg') }}"
                            /><img
                              class="ic-actions-star-icon14"
                              alt=""
                              src="{{ url_for('static', filename= 'public/icactionsstar3.svg') }}"
                            /><img
                              class="ic-actions-star-icon14"
                              alt=""
                              src="{{ url_for('static', filename= 'public/icactionsstar31.svg') }}"
                            />
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="price-button2">
                      <div class="price-button-inner"></div>
                      <div class="price-discount-price2">
                        <div class="usd10">36.99 USD</div>
                        <div class="usd11">48.56 USD</div>
                      </div>
                      <div class="inputs-and-selects16">
                        <div class="pcs5">1 pcs</div>
                        <div class="line-div"></div>
                        <div class="pcs-parent1">
                          <div class="pcs6">Pcs</div>
                          <img
                            class="ic-chevron-down-icon15"
                            alt=""
                            src="{{ url_for('static', filename= 'public/icchevrondown1.svg') }}"
                          />
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="component-84-item"></div>
              </article>
            </article>
          </div>
          <div class="group-parent7">
            <div class="buttons-group">
              <button class="buttons6" id="popupbuttons">
                <img
                  class="ic-chevron-left-icon"
                  alt=""
                  src="{{ url_for('static', filename= 'public/icchevronleft.svg') }}"
                /><b class="button10">Continue shopping</b></button
              ><button class="buttons7" id="popupbuttons1">
                <b class="go-to-checkout">Go to Checkout</b>
              </button>
            </div>
            <div class="subtotal-group">
              <div class="subtotal1">Subtotal</div>
              <div class="usd14">73.98 USD</div>
            </div>
            <div class="group-child12"></div>
          </div>
        </div>
      </div>
    </div>

    <script>
      
      var popupbuttons1 = document.getElementById("popupbuttons1");
      if (popupbuttons1) {
        popupbuttons1.addEventListener("click", function (e) {
          window.location.href = "./check-out-page.html";
        });
      }
      
      var logoContainer = document.getElementById("logoContainer");
      if (logoContainer) {
        logoContainer.addEventListener("click", function (e) {
          window.location.href = "/";
        });
      }
    
      
      var icons1 = document.getElementById("icons1");
      if (icons1) {
        icons1.addEventListener("click", function () {
          var popup = document.getElementById("cartContainer");
          if (!popup) return;
          var popupStyle = popup.style;
          if (popupStyle) {
            popupStyle.display = "flex";
            popupStyle.zIndex = 100;
            popupStyle.backgroundColor = "rgba(113, 113, 113, 0.3)";
            popupStyle.alignItems = "center";
            popupStyle.justifyContent = "center";
          }
          popup.setAttribute("closable", "");
      
          var onClick =
            popup.onClick ||
            function (e) {
              if (e.target === popup && popup.hasAttribute("closable")) {
                popupStyle.display = "none";
              }
            };
          popup.addEventListener("click", onClick);
        });
      }
      </script>
  </body>
</html>
