<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/global1.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/profile-page.css') }}" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Open Sans:wght@400&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;500;600;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Itim:wght@400&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@400&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=DM Sans:wght@400;700&display=swap"
    />
  </head>
  <body>
    <div class="profile-page">
      <div class="navigation-a5">
        <div class="logo-wrapper2">
          <div class="logo10" id="logoContainer">
            <div class="logo-inner9">
              <div class="logo-zenfit-1-wrapper8">
                <img
                  class="logo-zenfit-110"
                  alt=""
                  src="{{ url_for('static', filename='public/logo-zenfit-1@2x.png') }}"
                />
              </div>
            </div>
          </div>
        </div>
        <div class="frame-parent54">
          <div class="store-wrapper3" id="frameContainer3">
            <div class="store5">Store</div>
          </div>
          <div class="store-wrapper3" id="frameContainer4">
            <div class="store5">Zen AI</div>
          </div>
          <div class="about-wrapper3">
            <div class="store5">About</div>
          </div>
          <a href="/community" style="color: inherit;text-decoration: none;">
          <div class="prozen-parent2">
            <div class="store5">Community</div>
          </div>
          </a>
        </div>
        <div class="this-week-parent">
          <div class="icons-parent2">
            <button class="icons12" id="icons">
              <img class="vector-icon20" alt="" src="{{ url_for('static', filename='public1/vector21.svg') }}" />

              <img class="vector-icon21" alt="" src="{{ url_for('static', filename='public1/vector22.svg') }}" />
            </button>
            <button class="icons13" id="icons1">
              <img class="icons-child1" alt="" src="{{ url_for('static', filename='public1/frame-20211.svg') }}" />
            </button>
          </div>
        </div>
      </div>
      <div class="menu-drawer-container">
        <div class="menu-drawer2">
          <div class="apps-pages2">
            <div class="listitem12">
              <div class="container48">
                <img
                  class="bx-calendar-alt-icon2"
                  alt=""
                  src="{{ url_for('static', filename='public1/bxcalendaralt1.svg') }}"
                />
              </div>
              <div class="text-container12">
                <div class="fitness-board2">Fitness Board</div>
              </div>
            </div>
            <div class="listitem13" id="listItemContainer3">
              <div class="container48">
                <img
                  class="bx-calendar-alt-icon2"
                  alt=""
                  src="{{ url_for('static', filename='public1/bxfile1.svg') }}"
                />
              </div>
              <div class="text-container12">
                <div class="fitness-board2">Order History</div>
              </div>
            </div>
            <div class="listitem13" id="listItemContainer1">
              <div class="container48">
                <img
                  class="bx-calendar-alt-icon2"
                  alt=""
                  src="{{ url_for('static', filename='public1/bxuser1.svg') }}"
                />
              </div>
              <div class="text-container12">
                <div class="fitness-board2">User</div>
              </div>
            </div>
          </div>
        </div>
        <div class="fitness-dashboard">
          <div class="frame-parent55">
            <div class="frame-parent56" style="margin: 0 auto;">
              <div class="shape-your-ideal-body-parent">
                <div class="shape-your-ideal-container">
                  <span class="shape-your-ideal-container1"
                    >SHAPE
                    <span>YOUR IDEAL BODY</span>
                  </span>
                </div>
                <div class="day-21">Day 21</div>
              </div>
              <div class="frame-parent57">
                <div class="frame-parent58">
                  <div class="parent">
                    <div class="div62">4:35</div>
                    <img class="chart-icon" alt="" src="{{ url_for('static', filename='public1/chart.svg') }}" />
                  </div>
                  <div class="push-ups-parent">
                    <div class="push-ups">Push ups</div>
                    <div class="x-5-minutes">6 x 5 minutes</div>
                  </div>
                  <div class="sit-ups-wrapper">
                    <div class="sit-ups">Sit Ups</div>
                  </div>
                  <div class="sit-ups-wrapper">
                    <div class="sit-ups">Squats</div>
                  </div>
                  <div class="sit-ups-wrapper">
                    <div class="sit-ups">Pull Ups</div>
                  </div>
                </div>
                <div class="progress">
                  <div class="week-3-parent">
                    <div class="week-3">Week 3</div>
                    <img
                      class="frame-child2"
                      alt=""
                      src="{{ url_for('static', filename='public1/vector-2.svg') }}"
                    />
                  </div>
                  <div class="progress-graph">
                    <div class="graph">
                      <div class="graph-lines">
                        <div class="graph-lines-child"></div>
                        <div class="graph-lines-child"></div>
                        <div class="graph-lines-child"></div>
                        <div class="graph-lines-child"></div>
                        <div class="graph-lines-child"></div>
                      </div>
                      <div class="graph1">
                        <div class="graph-elements">
                          <div class="graph-elements-child"></div>
                          <div class="may">Mon</div>
                          <img
                            class="graph-elements-item"
                            alt=""
                            src="{{ url_for('static', filename='public1/ellipse-32.svg') }}"
                          />
                        </div>
                        <div class="graph-elements1">
                          <div class="graph-elements-child"></div>
                          <div class="may">Tue</div>
                          <img
                            class="graph-elements-item"
                            alt=""
                            src="{{ url_for('static', filename='public1/ellipse-32.svg') }}"
                          />
                        </div>
                        <div class="graph-elements2">
                          <div class="graph-elements-child"></div>
                          <div class="may">Wed</div>
                          <img
                            class="graph-elements-item"
                            alt=""
                            src="{{ url_for('static', filename='public1/ellipse-32.svg') }}"
                          />
                        </div>
                        <div class="graph-elements3">
                          <div class="graph-elements-child4"></div>
                          <div class="may">Thu</div>
                          <img
                            class="graph-elements-item"
                            alt=""
                            src="{{ url_for('static', filename='public1/ellipse-321.svg') }}"
                          />
                        </div>
                        <div class="graph-elements4">
                          <div class="graph-elements-child6"></div>
                          <div class="may">Fri</div>
                          <img
                            class="graph-elements-item"
                            alt=""
                            src="{{ url_for('static', filename='public1/ellipse-32.svg') }}"
                          />
                        </div>
                        <div class="graph-elements5">
                          <div class="graph-elements-child6"></div>
                          <div class="may">Sat</div>
                          <img
                            class="graph-elements-item"
                            alt=""
                            src="{{ url_for('static', filename='public1/ellipse-32.svg') }}"
                          />
                        </div>
                        <div class="graph-elements1">
                          <div class="graph-elements-child10"></div>
                          <div class="may">Sun</div>
                          <img
                            class="graph-elements-item"
                            alt=""
                            src="{{ url_for('static', filename='public1/ellipse-32.svg') }}"
                          />
                        </div>
                      </div>
                    </div>
                    <div class="group">
                      <div class="div63">40</div>
                      <div class="div63">30</div>
                      <div class="div63">20</div>
                      <div class="div63">10</div>
                      <div class="div63">0</div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="horizontal-column">
                <div class="total-calories-parent">
                  <b class="total-calories">Total Calories</b>
                  <div class="frame-parent59">
                    <div class="frame-parent60">
                      <div class="this-week-parent">
                        <div class="this-week">This week</div>
                        <div class="kcal">2300 Kcal</div>
                      </div>
                      <div class="this-week-parent">
                        <div class="this-week">Previous</div>
                        <div class="kcal">1800 Kcal</div>
                      </div>
                    </div>
                    <div class="kcal-wrapper">
                      <div class="kcal2">900 Kcal</div>
                    </div>
                  </div>
                </div>
                <div class="total-hours-parent">
                  <b class="total-hours">Total Hours</b>
                  <div class="frame-parent61">
                    <div class="frame-parent62">
                      <div class="this-week-parent">
                        <div class="this-week">This week</div>
                        <div class="hrs">16 hrs</div>
                      </div>
                      <div class="this-week-parent">
                        <div class="this-week">Previous</div>
                        <div class="hrs1">10 hrs</div>
                      </div>
                    </div>
                    <div class="chart">
                      <div class="this-week-parent">
                        <div class="col-child"></div>
                      </div>
                      <div class="this-week-parent">
                        <div class="col-item"></div>
                      </div>
                      <div class="this-week-parent">
                        <div class="col-inner"></div>
                      </div>
                      <div class="this-week-parent">
                        <div class="col-child1"></div>
                      </div>
                      <div class="this-week-parent">
                        <div class="col-child"></div>
                      </div>
                      <div class="this-week-parent">
                        <div class="col-child3"></div>
                      </div>
                      <div class="this-week-parent">
                        <div class="col-child4"></div>
                      </div>
                      <div class="this-week-parent">
                        <div class="col-child5"></div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="total-calories-parent">
                  <b class="total-hours">Total Hours</b>
                  <div class="frame-parent59">
                    <div class="frame-parent62">
                      <div class="this-week-parent">
                        <div class="this-week">This week</div>
                        <div class="hrs">16 hrs</div>
                      </div>
                      <div class="this-week-parent">
                        <div class="this-week">Previous</div>
                        <div class="hrs1">10 hrs</div>
                      </div>
                    </div>
                    <div class="kcal-wrapper">
                      <div class="kcal2">26:50:32</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="vertical-column">
              <div class="your-liked-posts">Your Liked Posts</div>
              <div class="frame-parent65">
                <div class="frame-parent66">
                  <div class="health-fitness-parent">
                    <b class="health-fitness">Health Fitness</b>
                    <div class="lorem-ipsum-dolor-container2">
                      <span class="shape-your-ideal-container1">
                        <p class="lorem-ipsum-dolor2">
                          Lorem ipsum dolor sit amet, consectetur adipiscing
                          elit, sed do eiusmod tempor incididunt ut labore et
                          dolore magna aliqua. .
                        </p>
                      </span>
                    </div>
                    <div class="learn-more-parent">
                      <div class="learn-more">Learn More</div>
                      <img
                        class="material-symbolskeyboard-doub-icon"
                        alt=""
                        src="{{ url_for('static', filename='public1/materialsymbolskeyboarddoublearrowright.svg') }}"
                      />
                    </div>
                  </div>
                  <img
                    class="arrow-icon01-3-4"
                    alt=""
                    src="{{ url_for('static', filename='public1/arrowicon01-3-4@2x.png') }}"
                  />
                </div>
                <div class="frame-parent66">
                  <div class="health-fitness-parent">
                    <b class="health-fitness">Health Fitness</b>
                    <div class="lorem-ipsum-dolor-container2">
                      <span class="shape-your-ideal-container1">
                        <p class="lorem-ipsum-dolor2">
                          Lorem ipsum dolor sit amet, consectetur adipiscing
                          elit, sed do eiusmod tempor incididunt ut labore et
                          dolore magna aliqua. .
                        </p>
                      </span>
                    </div>
                    <div class="learn-more-parent">
                      <div class="learn-more">Learn More</div>
                      <img
                        class="material-symbolskeyboard-doub-icon"
                        alt=""
                        src="{{ url_for('static', filename='public1/materialsymbolskeyboarddoublearrowright.svg') }}"
                      />
                    </div>
                  </div>
                  <img
                    class="arrow-icon01-2-3"
                    alt=""
                    src="{{ url_for('static', filename='public1/arrowicon01-2-3@2x.png') }}"
                  />
                </div>
                <div class="frame-parent68">
                  <div class="health-fitness-parent">
                    <b class="health-fitness">Health Fitness</b>
                    <div class="lorem-ipsum-dolor-container2">
                      <span class="shape-your-ideal-container1">
                        <p class="lorem-ipsum-dolor2">
                          Lorem ipsum dolor sit amet, consectetur adipiscing
                          elit, sed do eiusmod tempor incididunt ut labore et
                          dolore magna aliqua. .
                        </p>
                      </span>
                    </div>
                    <div class="learn-more-parent">
                      <div class="learn-more">Learn More</div>
                      <img
                        class="material-symbolskeyboard-doub-icon"
                        alt=""
                        src="{{ url_for('static', filename='public1/materialsymbolskeyboarddoublearrowright.svg') }}"
                      />
                    </div>
                  </div>
                  <img
                    class="arrow-icon01-1-2"
                    alt=""
                    src="{{ url_for('static', filename='public1/arrowicon01-1-2@2x.png') }}"
                  />
                </div>
                <div class="frame-parent68">
                  <div class="health-fitness-parent">
                    <b class="health-fitness">Health Fitness</b>
                    <div class="lorem-ipsum-dolor-container2">
                      <span class="shape-your-ideal-container1">
                        <p class="lorem-ipsum-dolor2">
                          Lorem ipsum dolor sit amet, consectetur adipiscing
                          elit, sed do eiusmod tempor incididunt ut labore et
                          dolore magna aliqua. .
                        </p>
                      </span>
                    </div>
                    <div class="learn-more-parent">
                      <div class="learn-more">Learn More</div>
                      <img
                        class="material-symbolskeyboard-doub-icon"
                        alt=""
                        src="{{ url_for('static', filename='public1/materialsymbolskeyboarddoublearrowright.svg') }}"
                      />
                    </div>
                  </div>
                  <img
                    class="arrow-icon01-1-2"
                    alt=""
                    src="{{ url_for('static', filename='public1/arrowicon01-2-2@2x.png') }}"
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="footer-a5">
        <div class="logo-parent4">
          <div class="logo11">
            <div class="logo-inner9">
              <div class="logo-zenfit-1-wrapper8">
                <img
                  class="logo-zenfit-110"
                  alt=""
                  src="{{ url_for('static', filename='public/logo-zenfit-13@2x.png') }}"
                />
              </div>
            </div>
          </div>
          <div class="frame-parent70">
            <div class="mobile-app-parent3">
              <b class="mobile-app5">Mobile app</b>
              <div class="features-live-share-container5">
                <p class="lorem-ipsum-dolor2">Features</p>
                <p class="lorem-ipsum-dolor2">Live share</p>
                <p class="lorem-ipsum-dolor2">Video record</p>
              </div>
            </div>
            <div class="mobile-app-parent3">
              <b class="mobile-app5">Community</b>
              <div class="features-live-share-container5">
                <p class="lorem-ipsum-dolor2">Featured artists</p>
                <p class="lorem-ipsum-dolor2">The Portal</p>
                <p class="lorem-ipsum-dolor2">Live events</p>
              </div>
            </div>
            <div class="mobile-app-parent3">
              <b class="mobile-app5">Company</b>
              <div class="features-live-share-container5">
                <p class="lorem-ipsum-dolor2">About us</p>
                <p class="lorem-ipsum-dolor2">Contact us</p>
                <p class="lorem-ipsum-dolor2">History</p>
              </div>
            </div>
          </div>
        </div>
        <div class="footer-a-child3"></div>
        <div class="photo-inc-2019-we-love-our-parent3">
          <div class="photo-inc-20195">
            © ZenFit, Inc. 2023 made by DevLoopers
          </div>
          <div class="follow-us-parent3">
            <div class="follow-us5">Follow us:</div>
            <img class="ellipse-icon20" alt="" src="https://cdn-icons-png.flaticon.com/512/124/124010.png" /><img
              class="ellipse-icon20"
              alt=""
              src="https://cdn-icons-png.flaticon.com/512/124/124021.png"
            /><img class="ellipse-icon20" alt="" src="https://img.freepik.com/premium-vector/instagram-social-media-icon-gradient-social-media-logo_197792-4682.jpg" /><img
              class="ellipse-icon20"
              alt=""
              src="https://cdn-icons-png.flaticon.com/512/1384/1384060.png"
            />
          </div>
        </div>
      </div>
    </div>

    <div id="cartPopup" class="popup-overlay" style="display: none">
      <div class="cart" data-animate-on-scroll>
        <div class="modalsshoping-cart">
          <div class="group-parent">
            <div class="shopping-cart-parent">
              <div class="shopping-cart">Shopping cart</div>
              <button class="close-parent" id="popupframeButton">
                <div class="close">Close</div>
                <img
                  class="ic-actions-close-simple-icon"
                  alt=""
                  src="{{ url_for('static', filename='public/icactionsclosesimple.svg') }}"
                />
              </button>
            </div>
            <article class="component-84-parent">
              {% for product in products %}
              <article class="component-84">
                <div class="frame-parent9">
                  <div class="basics-wrapper">
                    <div class="basics5">
                      <img
                        class="basics-child2"
                        alt=""
                        src="{{ product.image_url }}"
                      />
                    </div>
                  </div>
                  <div class="content-button">
                    <div class="content-button-inner">
                      <div class="frame-wrapper1">
                        <div class="frame-parent10">
                          <div class="product-title-parent">
                            <div class="product-title">{{ product.product_name }}</div>
                          </div>
                          <div class="ic-actions-star-parent">
                          {% for i in range(product.rating) %}
                          <img
                            class="ic-actions-star-icon"
                            alt=""
                            src="{{ url_for('static', filename='public/icactionsstar2.svg') }}"
                          />
                          {% endfor %}
                          {% for i in range(5-product.rating) %}
                            <img
                              class="ic-actions-star-icon"
                              alt=""
                              src="{{ url_for('static', filename='public/icactionsstar9.svg') }}"
                            />
                          {% endfor %}
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="price-button">
                      <div class="price-button-child"></div>
                      <div class="price-discount-price">
                        <div class="usd">{{ product.product_price }} USD</div>
                      </div>
                      <div class="inputs-and-selects">
                        <div class="pcs">{{ product.quantity }} pcs</div>
                        <div class="inputs-and-selects-child"></div>
                        <div class="pcs-parent">
                          <img
                            class="ic-chevron-down-icon"
                            alt=""
                            src="{{ url_for('static', filename='public1/icchevrondown7.svg') }}"
                          />
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="component-84-child"></div>
              </article>
              {% endfor %}
            </article>
          </div>
          <div class="group-container">
            <div class="buttons-parent">
              <button class="buttons1" id="popupbuttons">
                <img
                  class="ic-chevron-left-icon"
                  alt=""
                  src="{{ url_for('static', filename='public1/icchevronleft.svg') }}"
                />

                <b class="button6">Continue shopping</b>
              </button>
              <button class="buttons2" id="popupbuttons1">
                <b class="go-to-checkout">Go to Checkout</b>
              </button>
            </div>
            <div class="subtotal-parent">
              <div class="subtotal">Subtotal</div>
              <div class="usd4">{{ net }} USD</div>
            </div>
            <div class="group-child"></div>
          </div>
        </div>
      </div>
    </div>

    <script>
      var popupframeButton = document.getElementById("popupframeButton");
      if (popupframeButton) {
        popupframeButton.addEventListener("click", function (e) {
          var popup = e.currentTarget.parentNode;
          function isOverlay(node) {
            return !!(
              node &&
              node.classList &&
              node.classList.contains("popup-overlay")
            );
          }
          while (popup && !isOverlay(popup)) {
            popup = popup.parentNode;
          }
          if (isOverlay(popup)) {
            popup.style.display = "none";
          }
        });
      }
      
      var popupbuttons = document.getElementById("popupbuttons");
      if (popupbuttons) {
        popupbuttons.addEventListener("click", function (e) {
          window.location.href = "./store";
        });
      }
      
      var popupbuttons1 = document.getElementById("popupbuttons1");
      if (popupbuttons1) {
        popupbuttons1.addEventListener("click", function (e) {
          window.location.href = "./checkout";
        });
      }
      var scrollAnimElements = document.querySelectorAll("[data-animate-on-scroll]");
      var observer = new IntersectionObserver(
        (entries) => {
          for (const entry of entries) {
            if (entry.isIntersecting || entry.intersectionRatio > 0) {
              const targetElement = entry.target;
              targetElement.classList.add("animate");
              observer.unobserve(targetElement);
            }
          }
        },
        {
          threshold: 0.15,
        }
      );
      
      for (let i = 0; i < scrollAnimElements.length; i++) {
        observer.observe(scrollAnimElements[i]);
      }
      
      var logoContainer = document.getElementById("logoContainer");
      if (logoContainer) {
        logoContainer.addEventListener("click", function (e) {
          window.location.href = "/";
        });
      }
      
      var frameContainer3 = document.getElementById("frameContainer3");
      if (frameContainer3) {
        frameContainer3.addEventListener("click", function (e) {
          window.location.href = "./store";
        });
      }
      
      var frameContainer4 = document.getElementById("frameContainer4");
      if (frameContainer4) {
        frameContainer4.addEventListener("click", function (e) {
          window.location.href = "./AI";
        });
      }
      
      var icons = document.getElementById("icons");
      if (icons) {
        icons.addEventListener("click", function (e) {
          window.location.href = "./profile";
        });
      }
      
      var icons1 = document.getElementById("icons1");
      if (icons1) {
        icons1.addEventListener("click", function () {
          var popup = document.getElementById("cartPopup");
          if (!popup) return;
          var popupStyle = popup.style;
          if (popupStyle) {
            popupStyle.display = "flex";
            popupStyle.zIndex = 100;
            popupStyle.backgroundColor = "rgba(113, 113, 113, 0.3)";
            popupStyle.alignItems = "center";
            popupStyle.justifyContent = "center";
          }
          popup.setAttribute("closable", "");
      
          var onClick =
            popup.onClick ||
            function (e) {
              if (e.target === popup && popup.hasAttribute("closable")) {
                popupStyle.display = "none";
              }
            };
          popup.addEventListener("click", onClick);
        });
      }
      
      var listItemContainer1 = document.getElementById("listItemContainer1");
      if (listItemContainer1) {
        listItemContainer1.addEventListener("click", function (e) {
          window.location.href = "./user";
        });
      }
      
      var listItemContainer3 = document.getElementById("listItemContainer3");
      if (listItemContainer3) {
        listItemContainer3.addEventListener("click", function (e) {
          window.location.href = "./order-history";
        });
      }
      </script>
  </body>
</html>
