<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />
    <link rel="stylesheet" href="./global.css" />
    <link rel="stylesheet" href="./register-member.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Open Sans:wght@400&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;500;600;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=DM Sans:wght@400;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Itim:wght@400&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@400&display=swap"
    />
  </head>
  <body>
    <div class="register-member4">
      <form class="register-member5" method="post">
        <div class="register-now6">Register Now</div>
        <div class="registration-option3">
          <button class="solid-button7">
            <div class="register7">Member</div></button
          ><button class="button30"><div class="log-in7">Coach</div></button
          ><button class="solid-button7">
            <div class="register7">Seller</div>
          </button>
        </div>
        <div class="name-field3">
          <div class="weight">Name</div>
          <input class="input-field15" type="text" />
        </div>
        <div class="details-feild3">
          <div class="age-field3">
            <div class="weight">Age</div>
            <div class="input-field16">
              <input class="input4" type="number" />
            </div>
          </div>
          <div class="age-field3">
            <div class="weight">Qualification</div>
            <div class="input-field17">
              <input class="input4" type="text" />
            </div>
          </div>
        </div>
        <div class="name-field3">
          <div class="weight">Email</div>
          <div class="input-field18">
            <img class="email-icon4" alt="" src="./public/email4.svg" />
            <div class="input-field-child6"></div>
            <input class="input4" type="email" />
          </div>
        </div>
        <div class="password-field5">
          <div class="weight">Password</div>
          <div class="input-field18">
            <img class="password-icon4" alt="" src="./public/password4.svg" />
            <div class="input-field-child6"></div>
            <input class="input6" type="number" />
          </div>
        </div>
        <button class="log-in-button4">
          <div class="register-now7">Register Now</div>
        </button>
      </form>
    </div>
  </body>
</html>
