<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />
    <link rel="stylesheet" href="./global.css" />
    <link rel="stylesheet" href="./register-member31.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Open Sans:wght@400&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;500;600;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=DM Sans:wght@400;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Itim:wght@400&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@400&display=swap"
    />
  </head>
  <body>
    <div class="register-member2">
      <form class="register-member3" method="post">
        <div class="register-now4">Register Now</div>
        <div class="registration-option2">
          <button class="button29"><div class="log-in3">Member</div></button
          ><button class="solid-button5">
            <div class="register5">Coach</div></button
          ><button class="solid-button5">
            <div class="register5">Seller</div>
          </button>
        </div>
        <div class="name-field2">
          <div class="full-name2">Name</div>
          <div class="input-field9">
            <input class="tejas-kumar1" type="text" />
          </div>
        </div>
        <div class="details-feild2">
          <div class="age-field2">
            <p class="age4">Age</p>
            <input class="input-field10" type="number" />
          </div>
          <div class="height-field2">
            <div class="full-name2">Height</div>
            <div class="input-height-field-parent">
              <input class="input-height-field2" type="number" />
              <div class="full-name2">cm</div>
            </div>
          </div>
          <div class="weight-field">
            <div class="full-name2">Weight</div>
            <div class="input-height-field-group">
              <input class="input-height-field2" type="number" />
              <div class="full-name2">kg</div>
            </div>
          </div>
        </div>
        <div class="name-field2">
          <div class="full-name2">Email</div>
          <div class="input-field11">
            <img class="email-icon2" alt="" src="./public/email2.svg" />
            <div class="input-field-child2"></div>
            <input class="tejas-kumar1" type="email" />
          </div>
        </div>
        <div class="password-field3">
          <div class="full-name2">Password</div>
          <div class="input-field11">
            <img class="password-icon2" alt="" src="./public/password2.svg" />
            <div class="input-field-child2"></div>
            <input class="input2" type="password" />
          </div>
        </div>
        <button class="log-in-button2">
          <div class="register-now5">Register Now</div>
        </button>
      </form>
    </div>
  </body>
</html>
