<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/global.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/zen-ai-page.css') }}" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Open Sans:wght@400&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;500;600;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=DM Sans:wght@400;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Itim:wght@400&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@400&display=swap"
    />
  </head>
  <body>
    <div class="zen-ai-page">
      <div class="navigation-a2">
        <div class="logo-frame">
          <div class="logo3" id="logoContainer">
            <div class="logo-inner2">
              <div class="logo-zenfit-1-wrapper1">
                <img
                  class="logo-zenfit-13"
                  alt=""
                  src="{{ url_for('static', filename= 'public/logo-zenfit-1@2x.png') }}"
                />
              </div>
            </div>
          </div>
        </div>
        <div class="frame-parent14">
          <a href="/store" style="text-decoration: none;color: #18a0fb;"><div class="store-frame" id="frameContainer3">
            <div class="store2">Store</div>
          </div></a>
          <button class="comunity-container" id="frameButton">
            <div class="comunity1">ZenAI</div>
          </button>
          <div class="about-frame"><div class="store2">About</div></div>
          <a href="/community" style="color: inherit;text-decoration: none;">
          <button class="prozen-container">
            <div class="prozen2">Community</div>
          </button>
          </a>
        </div>
        <div class="navigation-a-child">
          <div class="icons-group">
            <a href="/profile">
              <img
              class="icons6"
              alt=""
              src="{{ url_for('static', filename= 'public/icons7.svg') }}"
              id="icons"
            />
            </a>
            <a href="/checkout">
              <img
              class="icons7"
              alt=""
              src="{{ url_for('static', filename= 'public/icons5.svg') }}"
              id="icons1"
            />
            </a>
          </div>
        </div>
      </div>
      <div class="jonathan-borba-lrqptqs7nqq-uns-group">
        <img
          class="jonathan-borba-lrqptqs7nqq-uns-icon1"
          alt=""
          src="{{ url_for('static', filename= 'public/jonathanborbalrqptqs7nqqunsplash-11@2x.png') }}"
        />
        <div class="frame-wrapper2">
          <div class="frame-parent15">
            <div class="frame-parent16">
              <div class="reps-done-container">
                <div class="reps-done1">REPS DONE:</div>
              </div>
              <div class="wrapper1"><div class="div17">32</div></div>
              <div class="frame-parent17">
                <button class="frame-button"><div class="div18">▶</div></button
                ><button class="new-count-container">
                  <div class="new-count1">New Count</div>
                </button>
              </div>
            </div>
            <div class="group">
              <div class="div19">4:35</div>
              <img class="chart-icon1" alt="" src="{{ url_for('static', filename= 'public/chart1.svg') }}" />
            </div>
            <div class="frame-parent18">
              <button class="push-ups-group">
                <div class="push-ups1">Push ups</div>
                <div class="x-5-minutes1">6 x 5 minutes</div></button
              ><button class="sit-ups-container">
                <div class="new-count1">Sit Ups</div></button
              ><button class="sit-ups-container">
                <div class="new-count1">Squats</div></button
              ><button class="sit-ups-container">
                <div class="new-count1">Pull Ups</div>
              </button>
            </div>
            <div class="ic-devices-camera1" id="icDevicesCameraContainer">
              <img class="layer-icon1" alt="" src="{{ url_for('static', filename= 'public/layer1.svg') }}" />
            </div>
          </div>
        </div>
      </div>
    </div>

    <div id="cartContainer" class="popup-overlay" style="display: none">
      <div class="cart1">
        <div class="modalsshoping-cart">
          <div class="group-parent6">
            <div class="shopping-cart-parent">
              <div class="shopping-cart">Shopping cart</div>
              <button class="close-parent">
                <div class="close">Close</div>
                <img
                  class="ic-actions-close-simple-icon"
                  alt=""
                  src="{{ url_for('static', filename= 'public/icactionsclosesimple.svg') }}"
                />
              </button>
            </div>
            <article class="component-84-group">
              <article class="component-841">
                <div class="frame-parent45">
                  <div class="basics-wrapper1">
                    <div class="basics11">
                      <img
                        class="basics-child8"
                        alt=""
                        src="{{ url_for('static', filename= 'public/rectangle-261@2x.png') }}"
                      />
                    </div>
                  </div>
                  <div class="content-button2">
                    <div class="content-button-inner1">
                      <div class="frame-wrapper12">
                        <div class="frame-parent46">
                          <div class="product-title-container">
                            <div class="product-title2">Product title</div>
                            <div class="frame-parent47">
                              <div class="brand-container">
                                <div class="brand2">Brand</div>
                                <div class="nike6">Nike</div>
                              </div>
                              <div class="size-container">
                                <div class="brand2">Size</div>
                                <div class="div59">9</div>
                              </div>
                            </div>
                          </div>
                          <div class="ic-actions-star-parent1">
                            <img
                              class="ic-actions-star-icon14"
                              alt=""
                              src="{{ url_for('static', filename= 'public/icactionsstar2.svg') }}"
                            /><img
                              class="ic-actions-star-icon14"
                              alt=""
                              src="{{ url_for('static', filename= 'public/icactionsstar2.svg') }}"
                            /><img
                              class="ic-actions-star-icon14"
                              alt=""
                              src="{{ url_for('static', filename= 'public/icactionsstar2.svg') }}"
                            /><img
                              class="ic-actions-star-icon14"
                              alt=""
                              src="{{ url_for('static', filename= 'public/icactionsstar2.svg') }}"
                            /><img
                              class="ic-actions-star-icon14"
                              alt=""
                              src="{{ url_for('static', filename= 'public/icactionsstar11.svg') }}"
                            />
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="price-button2">
                      <div class="price-button-inner"></div>
                      <div class="price-discount-price2">
                        <div class="usd10">36.99 USD</div>
                        <div class="usd11">48.56 USD</div>
                      </div>
                      <div class="inputs-and-selects16">
                        <div class="pcs5">1 pcs</div>
                        <div class="line-div"></div>
                        <div class="pcs-parent1">
                          <div class="pcs6">Pcs</div>
                          <img
                            class="ic-chevron-down-icon15"
                            alt=""
                            src="{{ url_for('static', filename= 'public/icchevrondown.svg') }}"
                          />
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="component-84-item"></div>
              </article>
              <article class="component-841">
                <div class="frame-parent45">
                  <div class="basics-wrapper1">
                    <div class="basics11">
                      <img
                        class="basics-child8"
                        alt=""
                        src="{{ url_for('static', filename= 'public/rectangle-261@2x.png') }}"
                      />
                    </div>
                  </div>
                  <div class="content-button2">
                    <div class="content-button-inner1">
                      <div class="frame-wrapper12">
                        <div class="frame-parent46">
                          <div class="product-title-container">
                            <div class="product-title2">Product title</div>
                            <div class="frame-parent47">
                              <div class="brand-container">
                                <div class="brand2">Brand</div>
                                <div class="nike6">Nike</div>
                              </div>
                              <div class="size-container">
                                <div class="brand2">Size</div>
                                <div class="div59">9</div>
                              </div>
                            </div>
                          </div>
                          <div class="ic-actions-star-parent1">
                            <img
                              class="ic-actions-star-icon14"
                              alt=""
                              src="{{ url_for('static', filename= 'public/icactionsstar3.svg') }}"
                            /><img
                              class="ic-actions-star-icon14"
                              alt=""
                              src="{{ url_for('static', filename= 'public/icactionsstar3.svg') }}"
                            /><img
                              class="ic-actions-star-icon14"
                              alt=""
                              src="{{ url_for('static', filename= 'public/icactionsstar3.svg') }}"
                            /><img
                              class="ic-actions-star-icon14"
                              alt=""
                              src="{{ url_for('static', filename= 'public/icactionsstar3.svg') }}"
                            /><img
                              class="ic-actions-star-icon14"
                              alt=""
                              src="{{ url_for('static', filename= 'public/icactionsstar31.svg') }}"
                            />
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="price-button2">
                      <div class="price-button-inner"></div>
                      <div class="price-discount-price2">
                        <div class="usd10">36.99 USD</div>
                        <div class="usd11">48.56 USD</div>
                      </div>
                      <div class="inputs-and-selects16">
                        <div class="pcs5">1 pcs</div>
                        <div class="line-div"></div>
                        <div class="pcs-parent1">
                          <div class="pcs6">Pcs</div>
                          <img
                            class="ic-chevron-down-icon15"
                            alt=""
                            src="{{ url_for('static', filename= 'public/icchevrondown1.svg') }}"
                          />
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="component-84-item"></div>
              </article>
            </article>
          </div>
          <div class="group-parent7">
            <div class="buttons-group">
              <button class="buttons6" id="popupbuttons">
                <img
                  class="ic-chevron-left-icon"
                  alt=""
                  src="{{ url_for('static', filename= 'public/icchevronleft.svg') }}"
                /><b class="button10">Continue shopping</b></button
              ><button class="buttons7" id="popupbuttons1">
                <b class="go-to-checkout">Go to Checkout</b>
              </button>
            </div>
            <div class="subtotal-group">
              <div class="subtotal1">Subtotal</div>
              <div class="usd14">73.98 USD</div>
            </div>
            <div class="group-child12"></div>
          </div>
        </div>
      </div>
    </div>

    <script>
      var popupbuttons = document.getElementById("popupbuttons");
      if (popupbuttons) {
        popupbuttons.addEventListener("click", function (e) {
          window.location.href = "./store-page.html";
        });
      }
      
      var popupbuttons1 = document.getElementById("popupbuttons1");
      if (popupbuttons1) {
        popupbuttons1.addEventListener("click", function (e) {
          window.location.href = "./check-out-page.html";
        });
      }
      
      var logoContainer = document.getElementById("logoContainer");
      if (logoContainer) {
        logoContainer.addEventListener("click", function (e) {
          window.location.href = "/";
        });
      }
      
      var frameContainer3 = document.getElementById("frameContainer3");
      if (frameContainer3) {
        frameContainer3.addEventListener("click", function (e) {
          window.location.href = "./store-page.html";
        });
      }
      
      var icons = document.getElementById("icons");
      if (icons) {
        icons.addEventListener("click", function (e) {
          window.location.href = "./profile-page.html";
        });
      }
      
      var icons1 = document.getElementById("icons1");
      if (icons1) {
        icons1.addEventListener("click", function () {
          var popup = document.getElementById("cartContainer");
          if (!popup) return;
          var popupStyle = popup.style;
          if (popupStyle) {
            popupStyle.display = "flex";
            popupStyle.zIndex = 100;
            popupStyle.backgroundColor = "rgba(113, 113, 113, 0.3)";
            popupStyle.alignItems = "center";
            popupStyle.justifyContent = "center";
          }
          popup.setAttribute("closable", "");
      
          var onClick =
            popup.onClick ||
            function (e) {
              if (e.target === popup && popup.hasAttribute("closable")) {
                popupStyle.display = "none";
              }
            };
          popup.addEventListener("click", onClick);
        });
      }
      
      var icDevicesCameraContainer = document.getElementById(
        "icDevicesCameraContainer"
      );
      </script>
  </body>
</html>
